<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Users
        </h1>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Search User</h3>
    </div>
    <div class="panel-body">
    <div class="col-xs-10">
      <form ng-submit="searchUser()" class="form-inline">
        <input class="form-control" type="text" ng-model="user.local.username" placeholder="Search by First Name">
        <input class="form-control" type="text" ng-model="user.local.email" placeholder="Search by email">
        <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
          <button type="button" class="btn btn-sm btn-primary" ng-click="disableFilter()">Reset</button>
       </form>
    </div>
      <div class="col-xs-2">
        <a class="btn btn-info pull-right" ui-sref="admin.createUser">Create User</a>
        
      </div>
    </div>
</div>

<div ui-grid="usersGrid" class="myGrid" external-scopes="clickHandler"></div>

<div class="text-right tm10">
  <div class="col-xs-3 col-xs-offset-6 tm5">
    <p>Current page: {{ currentpage}} of {{ getTotalPagesCount }}</p>
  </div>
  <div class="col-xs-3 ">
    <button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
    <button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
  </div>
</div>

<!-- 
<p>Current page: {{ getPage() }} of {{ getTotalPages() }}</p>
<button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
<button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
 -->