<div class="slider">
    <div class="slideOne"></div>
</div>
<div class="container-custom" ng-show="!setnewpassword">
    <div class="toCell cell-left">
        <h2>{{'login.Get' | translate}} <span>{{'login.away' | translate}}</span>{{'login.before_you_are_too_late' | translate}}</h2>
        <h4>{{'login.Lorem_Ipsum_is_simply_dummy_text_of_the' | translate}}.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>{{'login.Welcome_to_travel_itinerary' | translate}}</h4>
            </div>
            <form role="form" ng-submit="forgot()" name="forgotPassword" novalidate>
                <div class="form-body">
                    <div class="form-group">
                        <input type="email" class="form-control {{errorClass}}" placeholder="{{'signup.Enter_Your_Email' | translate}}"  ng-model="user.email" name="email" required ng-class="forgotPassword.email.$touched ? forgotPassword.email.$error.required ? 'error' : forgotPassword.email.$error.email ? 'error': '' : ''" title="{{TitleField}}">
                    </div>
                    <button type="submit" class="btn btn-default">{{'forgot.Reset_Password' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-custom" ng-show="setnewpassword">
    <div class="toCell cell-left">
        <h2>{{'login.Get' | translate}} <span>{{'login.away' | translate}}</span> {{'login.before_you_are_too_late' | translate}}</h2>
        <h4>{{'login.Lorem_Ipsum_is_simply_dummy_text_of_the' | translate}}.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>{{'login.Welcome_to_travel_itinerary' | translate}}</h4>
            </div>
            <form role="form" ng-submit="setPassword()" name="setNewPassword" novalidate>
                <div class="form-body">
                  <div class="form-group">

                   <input type="password" class="form-control {{errorClass}}" placeholder="{{'signup.Enter_Your_Password' | translate}}" ng-model="user.password" name="password" required ng-class="setNewPassword.password.$touched && setNewPassword.password.$error.required ? 'error' : ''" title="{{TitleField}}">
                    </div>

                  <div class="form-group">
                        <input type="password" class="form-control {{errorClass}}" placeholder="{{'signup.Confirm_Your_Password' | translate}}" ng-model="user.cpassword" name="cpassword" required ng-class="setNewPassword.cpassword.$touched && setNewPassword.cpassword.$error.required ? 'error' : ''" title="{{TitleField}}">
                    </div>

                    <button type="submit" class="btn btn-default">{{'forgot.Set_Password' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
