<!-- ..................................  main page content starts ..............................  -->
<main class="">
    <!-- ................  banner - index page .........................  -->
    <div class="banner-index">
        <div class="toTable-cell">
            <div class="banner-index-form">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-building-o" aria-hidden="true"></i> {{'home.itinerary' | translate}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#Flights" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-plane" aria-hidden="true"></i> {{'home.Flights' | translate}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#cars" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-car" aria-hidden="true"></i> {{'home.cars' | translate}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#hotels" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-bed" aria-hidden="true"></i> {{'home.Hotels' | translate}}</a>
                    </li>
                    <li role="presentation">
                        <a href="#activities" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-bolt" aria-hidden="true"></i> {{'home.activities' | translate}}</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="bannerForm-wrap">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="{{'home.Search' | translate}}">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Flights">...</div>
                    <div role="tabpanel" class="tab-pane" id="cars">...</div>
                    <div role="tabpanel" class="tab-pane" id="hotels">...</div>
                    <div role="tabpanel" class="tab-pane" id="activities">...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  t-itinarary block ......................................................... -->
    <div class="main-content-margin">
        <div class="container">
            <div class="row">
                <h2 class="block-heading text-center">{{'home.Travel_Itinerary' | translate}}</h2>
                <h3 class="block-SubHeading text-center">{{'home.Popular_Destinations' | translate}}</h3>
                <!-- ......................  left side bar .............................. -->
                <div class="col-sm-4">
                    <div class="tab-sdebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#plan" aria-controls="plan" role="tab" data-toggle="tab">{{'home.Plan' | translate}}</a>
                            </li>
                            <li role="presentation">
                                <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">{{'home.Contact_Us' | translate}}</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="plan">
                                <div class="sidebar-Formwrap">
                                    <form role="form" ng-submit="itineraryCreate()" name="itineraryCreateForm" novalidate>
                                        <div class="form-group">
                                            <select class="form-control" id="exampleInputEmail3" ng-model="itinerary.trip_from" name="trip_from" ng-change="startCityChange()" ng-options="destination.city for destination in destinations" required ng-class="itineraryCreateForm.trip_from.$touched && itineraryCreateForm.trip_from.$error.required  || formSubmitted && !itinerary.trip_from ? 'error' : ''">
                                                <option value="">--{{'home.Select_City' | translate}}--</option>
                                            </select>
                                        </div>
                                        <tags-input class="tags_input" ng-model="itinerary.trip_to" display-property="city" add-from-autocomplete-only="true" ng-required="true" placeholder="{{'home.Add_Destination' | translate}}">
                                            <auto-complete load-on-focus="true" min-length="1" source="getDestinationsData($query)"></auto-complete>
                                        </tags-input>
                                        <div class="form-group date-range">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.start_date" is-open="popup.opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="From" name="start_date" ng-class="itineraryCreateForm.start_date.$touched && itineraryCreateForm.start_date.$error.required  || formSubmitted && !itinerary.start_date || error ? 'error' : ''">
                                                    <i class="fa fa-calendar pointer" ng-click="open(1)" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.end_date" is-open="popup.opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="end_date" class="form-control" placeholder="To" ng-class="itineraryCreateForm.end_date.$touched && itineraryCreateForm.end_date.$error.required  || formSubmitted && !itinerary.end_date || error ? 'error' : ''">
                                                    <i class="fa fa-calendar pointer" ng-click="open(2)" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary">{{'home.Let_Me_Plan' | translate}}</button>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="contact">...</div>
                        </div>
                    </div>
                </div>
                <!-- ......................  right side bar .............................. -->
                <div class="col-sm-8">
                    <div class="itinrary-list">
                        <ul>
                            <li ng-repeat="cities in destinations | limitTo : 3 :limitbase | orderBy: cities._id">
                                <div class="toTable">
                                    <div class="toTable-cell">
                                        <!-- <div ></div> -->
                                        <img class="itinList-img" ng-src="{{cities.image}}">
                                    </div>
                                    <div class="toTable-cell vAlign-top">
                                        <h3 class="list-it-head">{{cities.city}}</h3>
                                        <div class="padding">
                                            <p>{{cities.description | limitTo: 300}}{{cities.description.length > 300 ? '...' : ''}}</p>
                                        </div>
                                    </div>
                                    <div ng-class="$index%3 == 0 ? 'toTable-cell btnBlock red' : $index%3 == 1 ? 'toTable-cell btnBlock blue' : 'toTable-cell btnBlock yellow'">
                                        <button class="btn btn-outline block" ng-click="getcity(cities._id)">{{'home.Details' | translate}}</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ......................  right side bar .............................. -->
            </div>
        </div>
    </div>
    <!-- .........................................  popular destination block starts ......................................................... -->
    <!-- {{journal}} -->
    <div class="main-content-margin" ng-if="journal.length > 0">
        <div class="container">
            <div class="row">
                <h2 class="block-heading text-center">{{'home.popular_Journals' | translate}}</h2>
                <div class="col-sm-4" ng-repeat="journals in journal">
                    <!-- | filter:{featured:true} | orderBy: '-views' | limitTo : 3 -->
                    <div class="destination-wrap">
                        <!-- <div class="destination-img"></div> -->
                        <a ui-sref="index.singleJournal({id:journals._id})">
                            <img class="destination-img" ng-src="{{journals.image_url}}">
                            <h3 class="journy-head">{{journals.title}}</h3>
                        </a>
                        <div class="row tag-kwd red">
                            <div class="col-xs-6">
                                <a href="" ng-click="getcity(journals.destinations._id)"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{journals.destinations.city}}</a>
                            </div>
                            <div class="col-xs-6">
                                <a><i class="fa fa-tag" aria-hidden="true"></i><span ng-repeat="tag in journals.tags"> {{tag.name}}</span></a>
                            </div>
                        </div>
                        <div class="padding">
                            <p>{{journals.description | limitTo: 100}}{{journals.description.length > 100 ? '...' : ''}}</p>
                            <div class="mt-top10">
                                <button class="btn btn-default" ng-click="checkjournal(journals._id)">{{'home.CHECK_IT' | translate}}</button>
                                <button class="btn btn-default" ng-click="checkjournal(journals._id)"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  mobile app block starts ......................................................... -->
    <div class="main-content-margin">
        <div class="container">
            <div class="row">
                <h2 class="block-heading text-center">{{'home.Mobile_App' | translate}}</h2>
                <!-- <h3 class="block-SubHeading text-center">Sub Catagory Caption</h3> -->
                <div class="col-sm-6">
                    <div class="to-table">
                        <div class="text-right toTable-cell padding">
                            <h4 class="app-heading">{{'home.ios_app' | translate}}</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Nunc ut efficitur ante. Donec dapibus dictum.</p>
                            <a href=""><img src="images/ios-app.png" alt="" /></a>
                        </div>
                        <div class="app_img toTable-cell"><img src="images/ios-frame.png" alt="" /></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="to-table">
                        <div class="app_img toTable-cell"><img src="images/android-app.png" alt="" /></div>
                        <div class="toTable-cell padding">
                            <h4 class="app-heading">{{'home.Android_app' | translate}}</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Nunc ut efficitur ante. Donec dapibus</p>
                            <a href=""><img src="images/gPlat.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
