<style type="text/css">
    .facebookButton {
        display:none;
    }
</style>

    <main>
        <!-- ................  banner - index page .........................  -->
  <!-- {{journal.destinations}} -->
        <div class="banner-attraction">
        <img ng-src={{journal.destinations.image}} class="bannerImage" style="position: absolute;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main-content-margin">
                        <h4 class="foot-heading">{{journal.title}}</h4>
                        <h5>the best of the mediterranium</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- .........................................  t-itinarary block ......................................................... -->
        <div class="main-content-margin mt-Bottom30">
            <div class="container">
                <div class="row">
                    <!-- ......................  left side bar .............................. -->
                    <div class="col-sm-8">
                        <div class="joural-detail">
                            <div class="jouralDetail-text">

                            <p><span>{{ journal.description | limitTo : 1}}</span>{{journal.description | limitTo: 10000000000 : 1}}</p>

                            </div>
                            <div class="mt-top30"><img  class="jouralDetail-pic fullimage" ng-src="{{journal.image_url}}" alt="journal-pic" /></div>
                        </div>
                        <!-- .......................  BS accordian .............................  -->
                        <h4 class="foot-heading sidebar" ng-if="journal.itineraries.length > 0">{{'journal.itinerary_details' | translate}} 
                        <button class="btn btn-primary pull-right" ng-click="viewItinerary(journal.itineraries[0])">{{'journal.view_itinerary' | translate}}</button>
                        </h4>
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default" ng-repeat="(key,itineraryData) in journal.itineraries[0].days">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="showItinerary(key)">
                                  <i class="indicator glyphicon" ng-class="key == count ? 'glyphicon-minus' : 'glyphicon-plus'"></i>
                                  Day {{key}} 
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" ng-if="itineraryIndex == key">
                              <div class="panel-body">


                        <ul class="tour-plan-main">
                                    <li ng-repeat="attraction in itineraryData" ng-class="!attraction.next_distance.text ? 'day_last_item': '' " >
                                   
                                    <!--attraction-->
                                        <div >
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button">{{attraction.start_time | date:'shortTime' }}</button>

                                            </div>
                                            <div class="drag-item type-2">
                                                <img ng-src="{{attraction.yelp_image_url ? attraction.yelp_image_url  : attraction.image_url }}" class="dragItem-pic" ng-cloak />
                                                <h4>{{attraction.name}}</h4>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button"> {{attraction.stay_time | date:'HH:mm' }} hrs</button>
                                               </div>
                                            </div>
                                        </div>
                                        
                                        <div class="tourInfo" ng-if="attraction.next_distance.text">
                                            <div class="tourInfo-inner bordered " ng-class="key % 2 == 0 ? 'blue':'yellow'">
                                                <div class="stats-dist clearfix">
                                                <i class="fa fa-taxi" ng-if="attraction.next_travel_mode.toLowerCase() == 'driving'" aria-hidden="true"></i>
                                                <i class="fa fa-male" ng-if="attraction.next_travel_mode.toLowerCase() == 'walking'" aria-hidden="true"></i>
                                                <i class="fa fa-bicycle" ng-if="attraction.next_travel_mode.toLowerCase() == 'bicycling'" aria-hidden="true"></i> 
                                                    {{attraction.next_distance.text}} | {{attraction.next_duration.text}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tourInfo day-end" ng-if="!attraction.next_distance.text" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                            <div class="tourInfo-inner bordered" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                                <h4>Day {{key}} End at {{dayend(attraction)  | date:'shortTime'}}</h4>
                                            </div>
                                        </div>

                                    </li>

                                </ul>


                              </div>
                            </div>
                          </div>

                        </div>
                    </div>
                    <!-- ......................  right side bar .............................. -->
                    <div class="col-sm-4">
                        <div class="user-journal text-center">
                            <div><img class="userJournal-pic" ng-src='{{journal.created_by.image ? journal.created_by.image : "/images/default_user.png"}}' alt="journal-pic" /></div>
                            <div class="userJournal-name"><span>{{journal.created_by.profile_fields.first_name}}</span></div>
                        </div>
                        <h4 class="foot-heading sidebar">{{'footer.Tags' | translate}}</h4>
                        <div class="tags sidebar bordered"><span ng-repeat="name in journal.tags track by $index"> <a href="">{{name.name}}</a> </span></div>

                        <div class="add-fav main-content-margin">
                            <button class="btn btn-primary"  ng-disabled="loggedInUser.bookmark_journal.indexOf(journal._id) > -1 ? true : false" ng-click="bookmark(journal._id)">{{'journal.add_to_favorites' | translate}}</button>
                            

                            <button class="btn btn-primary pull-right" ng-if="loggedInUser._id == journal.created_by._id" ng-click="editJournal()"><i class="fa fa-pencil" aria-hidden="true"></i></button>

                        </div>
                        <div class="share-sidebar main-content-margin" ng-if="journal.publish">
                            <h4 class="foot-heading sidebar">{{'journal.share_on' | translate}}</h4>
                            <div class="bordered">
                                <ul class="clearfix">
                                    <li>
                                    <a class="share-one" href="http://share.renren.com/share/buttonshare.do?link={{currentUrl}}&title=new"></a>
                                    </li>

                                    <li>
                                    <a class="share-two" href="http://service.weibo.com/share/share.php?url={{currentUrl}}&appkey=&title={{journal.title}}&pic={{journal.shareImageUrl}}&ralateUid=&language=zh_cn"></a>
                                    </li>
                                    
                                    <li>
                                    <a class="share-three" facebook-feed-share class="facebookShare" data-url='{{currentUrl}}' data-shares='shares', data-picture='{{journal.shareImageUrl}}' data-description="Example text"></a>
                                    </li>
                                    
                                    <li>
                                    <a data-text="{{journal.title}}" data-link="{{currentUrl}}" class="whatsapp w3_whatsapp_btn w3_whatsapp_btn_large share_four" ng-click="whatsappShare()"><span class="pin-green"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- .................................  row write review starts  .................................. -->
                <div class="row mt-top30">
                    <div class="col-sm-12">
                        <h4 class="inlineBlock-heading" ng-if="cmmnts.length > 0 && publishedComment">{{'journal.comments' | translate}}</h4>
                        <div class="bordered padding mt-top30">
                            <div class="user-comments">
                                <ul>
                                    <li ng-repeat="commented in cmmnts" ng-show="commented.publish">
                                        <div class="wrap-comment">
                                            <div><img class="comment-Upic" ng-src="{{commented.created_by.image ? commented.created_by.image : '/images/default_user.png'}}"></div>
                                            <div class="content-comment">
                                                <div class="comment-uname"><span>
                                                {{commented.created_by.profile_fields.first_name}}</span></div>
                                                <div class="comment-postTime"><span>{{commented.created_on | date :"MM/dd/yyyy 'at' h:mma"}}</span></div>
                                                <div class="comment-body">
                                                    <p>{{commented.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="post-comment" ng-show="loggedInUser._id">
                                <form>
                                    <h5>{{'journal.Post_your_comment' | translate}}</h5>

                                    <div class="form-group">
                                        <label>{{'journal.Description' | translate}}</label>
                                        <textarea class="form-control" ng-model="newcomment"></textarea>
                                    </div>
                                    <div class="mt-top20"><button class="btn btn-primary" ng-click="submitcomment()">{{'journal.submit' | translate}}</button></div>     
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- .................................  more itineraries row ends ......................................  -->
                <div class="row main-content-margin" ng-if="allJournals.length > 0">
                    <h4 class="foot-heading grey btn-heading">{{'journal.More_journals' | translate}}<button class="btn btn-primary pull-right">{{'journal.show_more' | translate}}...</button></h4>
                    <div class="col-sm-4" ng-repeat="journalData in allJournals">
                    <!-- {{allJournals}} -->
                        <div class="destination-wrap">
                        <a ui-sref="index.singleJournal({'id': journalData._id})">
                            <div><img class="destination-img" ng-src="{{journalData.image_url}}" /></div>
                            <h3 class="journy-head text-center">{{journalData.title}}</h3>
                        </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
                    
    </main>