<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Destinations
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Search Destinations</h3>
    </div>
    <div class="panel-body">
      
      <div class="col-xs-10">
      <form ng-submit="searchDestinations()" class="form-inline">
  
        <input type="text" class="form-control"  placeholder="Enter City Name" ng-model="config.city">

          <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
          <button type="button" class="btn btn-sm btn-primary" ng-click="disableFilter()">Reset</button>
       </form>

       </form>
    </div>
    <div class="col-xs-2">
      <a class="btn btn-info" ui-sref="admin.destinationsCreate">Create Destination</a>
    </div>
</div>
</div>

<div ui-grid="DestinationsGrid" class="myGrid" external-scopes="clickHandler"></div>
<div class="text-right tm10">
  <div class="col-xs-3 col-xs-offset-6 tm5">
    <p>Current page: {{ currentpage}} of {{ getTotalPagesCount }}</p>
  </div>
  <div class="col-xs-3 ">
    <button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
    <button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
  </div>
</div>