/* Common*/
.full-height{
	height: 100%;
}
.pointer{
    cursor: pointer;
}
/*color */
.red{color: red;}
.error{border: 2px red solid!important;}


/*margin/padding*/
.nopadding{padding: 0;}
.margin10{	margin :10px 0px;}
.margin5{  margin: 0px 5px;}
.ng-dialog-custom-width .ngdialog-content{
    width: 50%!important;
}
.ngdialog-content{
    padding: 0px!important;
}
.fullimage{
    height: 100%;
    width: 100%;
}

.dndattractions{
    padding: 5px;
    border: 2px solid;
}

.setting-menu .user-menu{
	color: #FFF;
    display: inline-block;
    padding: 10px 0;
    font-family: 'GOTHAM-BOLD';
    font-size: 16px;

}
.popup_destinatios{
    width: 400px;
    background: white;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.tour-plan-main  ul{
    min-height: 100px;
}
.timepicker{
   position: absolute;
   z-index: 9999;
   background: white;
   border: 2px solid #f1f1f1;
   min-width: 200px;
   padding: 10px 0;
}
.timepicker table tr>td{
    padding: 0 10px; 
}

.updating_itinerary_days{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    z-index: 10000;
    opacity: 0.6;
  
}

.fb_share_btn .facebookButton{
    display: none;
}
/*Itinerary last li */
.day_last_item{
    padding-bottom: 40px;
}

.tour-plan-main ul[dnd-list],
.tour-plan-main ul[dnd-list] > li ,
.attractioList-wrap ul[dnd-list],
.attractioList-wrap ul[dnd-list] > li {
    position: relative;
}

.tour-plan-main ul[dnd-list] ,
.attractioList-wrap ul[dnd-list]{
    min-height: 42px;
    padding-left: 0px;
}


.tour-plan-main ul[dnd-list] .dndDraggingSource {
    display: none;
}

.attractioList-wrap .dndPlaceholder{
    display: none!important;
}
.attractioList-wrap ul[dnd-list] li{
     display: block;
     padding: 5px;
 }


.tour-plan-main .dndPlaceholder{
    display: block;
    background-color: #000000;
    opacity: 0.3;
    min-height: 120px;
}

.tour-plan-main ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.banner-attraction {
    height: 419px;
    display: table;
    width: 100%;
    /*background-image: url("../images/bannerIndex.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.disabled_working{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

slick div.ng-not-empty{
    position: absolute;

}
slick div.ng-not-empty > ul{
    position: relative!important;
    top:0!important;
}

/*------------------------------------ create attraction -------------------------------*/

.errormsg {
    color: red;
}

.descriptionBox {
    height: 80px;
}

.margin30 {
    margin-left: 30px;
}

.timingdiv {
    position: relative; 
    margin-left: 0px;
}

.day {
    width: 120px; 
    margin-left: 10px;
}

.dayHeight {
    height: 34px;
}

.fa_times {
    position: absolute; 
    margin-top: 34px; 
    margin-left: 10px;
}

#googleMap {
    width:520px;
    height:200px;
}

.coords {
    width: 170px;
}
.compass {
    height: 130px;
}


.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #fd0;
}

/*.star-rating.readonly .star.filled {
    color: #666;
}*/

.thumbnailImg {
    width: 100px;
    height: 100px;
}

.bannerImage {
    height:360px; 
    width: 100%; 
    /*position: absolute; */
    z-index: -1;
}

.mainImage {
    height: 400px; 
    width: 550px; 
    margin-bottom: 10px;
}

.starCenter {
    width: 130%;
}
.h500{
    height: 500px;
}
.destination_header{
    position: absolute;
    height: 334px;
    width: 100%;
}

.profileDiv{
    margin: 5px 0px;
}
.profileDiv .btn.btn{
    margin-left: 0;
    border-right: 1px solid white;
}
.tag-kwd .profile_sidebar{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*
.slick-list{
    z-index: 10;
    overflow: visible!important;
}

*/
/*div[aria-hidden="true"]{
    visibility: hidden!important;
}*/
.slick-track > div[aria-hidden="true"]{
    visibility: visible!important;
}

 .slick-list {
   position: relative;
   overflow: visible;

  
}
.banner-index.tourPage {
   position: relative;
   z-index: 10;
}
.uib-button-bar {
   padding: 10px 9px 35px;
}

.slick-prev,.slick-next{
    z-index: 10000;
}
span[ng-transclude]{
    padding-top: 0px!important;
}

.share_four .fa-whatsapp {
    font-size: 25px;
}
body{
    overflow-x: hidden;
}
/*div.toBg{
    overflow-x: hidden;
}*/