
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

/* ................  general resets ...................  */

body { margin:0; padding:0; font-family: 'Roboto'; color: #888686;}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0; 
}

button, input {font-family: 'Roboto';}

body, html {height: 100%;} 

/* ...............  font face - gotham family .............  */

@font-face {
    font-family: 'GOTHAM-BOLD';
    src: url('../fonts/GOTHAM-BOLD.woff2') format('woff2'),
         url('../fonts/GOTHAM-BOLD.woff') format('woff'),
         url('../fonts/GOTHAM-BOLD.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'GOTHAM-BOOK';
    src: url('../fonts/GOTHAM-BOOK.woff2') format('woff2'),
         url('../fonts/GOTHAM-BOOK.woff') format('woff'),
         url('../fonts/GOTHAM-BOOK.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'GOTHAM-MEDIUM';
    src: url('../fonts/GOTHAM-MEDIUM.woff2') format('woff2'),
         url('../fonts/GOTHAM-MEDIUM.woff') format('woff'),
         url('../fonts/GOTHAM-MEDIUM.ttf') format('ttf');
    font-style: normal;
}

/* ..................  sprite image ............... */

.icon-plane, a.icon-lock, .icon-map:before,
.it-next, .it-prev {
	background-image: url("../images/app-sprite.png");
	background-repeat: no-repeat; 
}

input[type="text"], 
input[type="email"],
input[type="date"] {
	border-radius: 0;
	border: 1px solid #dadbdd;
	box-shadow: none; 
} 

/* ..............  deafult margins ............  */

.mt-top10 {
	margin-top: 10px;
}

.mt-top100 {
	margin-top: 100px;
}

.main-content-margin {
	margin-top: 70px;
	position: relative;
}

.mt-top30 {
	margin-top: 30px;
}

.mt-Bottom30 {
	margin-bottom: 30px;
}

.accent-color {color: #f87c29;}

/* ..............  default button styles .................  */

.btn + .btn { margin-left: 15px;}
.btn.btn-primary {
	background-color: #f87c29;
	border-color: #f87c29;
	text-transform: uppercase;
	border-radius: 0;
	font-weight: 700;
	color: #FFF;
	font-weight: 300;
	min-height: 36px;
	line-height: 22px;

}

.btn.btn-default {
	border-radius: 0;
	color: #adadad;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	border-color: #f87c29;
	min-height: 36px;
}


/* .....................   header styles ...........................  */


#mainHeader {
	position: relative;
	width: 100%;
	background-image: url("../images/header_topBg.jpg");
	background-repeat: repeat-x;
	padding-top: 2px;
	background-color: rgba(255,255,255,0.7);
	z-index: 100;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-inverse {
	background-color: #000;
	border-color: #000;
}

.navbar {
	min-height: 40px;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	padding: 16px 0;
}

.navbar-brand {
	font-size: 0;
	padding: 0;
	height: auto;
	line-height: 0;
}

.navbar-collapse { float: left;}

.navbar-nav>li>a {
	padding-top: 6px;
	padding-bottom: 8px;
	color: #222;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-size: 14px;
	border-bottom: 2px solid transparent; 
	line-height: 24px;
}

.navbar-nav>li.active > a,
.navbar-nav>li> a:hover {
	border-bottom-color: #ffd416;
	background-color: transparent;
	color: #ffd416; 
}

.search-header ul li {
	float: left;
	margin-right: 15px;
}

.search-header ul li:last-child {
	margin-right: 0;
}

.search-header ul li a {
	color: #FFF;
	display: inline-block;
	padding: 10px 0;
	font-family: 'GOTHAM-BOLD';
	font-size: 16px;
}

a.icon-search {
	background-image: url("images/icon-search.png");
	background-repeat: no-repeat;
	background-position: 0 2px;
	width: 16px;
	height: 16px;
	border-right: 1px solid #FFF;
	padding-right: 28px!important;
	margin-top: 10px;
}

.sel-lang {float: left;}

.sel-lang ul li {
	display: inline-block;
	margin-left: 10px;
}

.sel-lang ul li a {
	color: #000;
	font-weight: 700;
}

.sel-lang ul li select {
	height: 36px;
	border-radius: 0;
	width: 76px;
	padding: 2px 3px;
	background-color: #f6f6f6;
	color: #b7b7b7;
	border: 1px solid #ccc;
	vertical-align: middle;
}

.to-right {float: right;}

/* ..............  slider and content part - sign in/up page ...................   */

.slideOne {
	background-image: url("../images/slide-one.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 100%;
}

.content-wrap { 
	padding-top: 40px;
	height: 100%;
	position: relative;
}

.slider {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
}

.container-custom {
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	display: table;
	position: relative;
	width: 100%;
	padding-top: 40px;
}

.toCell {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
}

.toCell.cell-left {
	width: 65%;
}

.cell-left h2 {
	margin: 0 0 20px;
	font-size: 56px;
	text-transform: uppercase;
	color: #FFF;
	line-height: 1.4;
	font-family: 'GOTHAM-MEDIUM';
}

.cell-left h2 span {
	color: #4a97d2;
}

.cell-left h4 {
	font-size: 34px;
	color: #FFF;
	font-family: 'GOTHAM-BOOK';	
}

/* ...........  sign in / up form styles ...........  */

.form-wrap input[type="text"],
.form-wrap input[type="email"],
.form-wrap input[type="password"] {
	height: 50px;
	border-radius: 2px;
	border-color: #d7d8d5;
	color: #9a9a9a;
	font-family: 'GOTHAM-BOOK';
	font-size: 16px;
}

.form-wrap button[type="submit"] {
	background-color: #4a97d2;
	display: block;
	width: 100%;
	color: #FFF;
	height: 50px;
	font-size: 22px;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	font-family: 'GOTHAM-BOLD'; 
}

.form-wrap a {
	color: #FFF;
}

.form-head {
	background-color: #4a97d2;
	color: #FFF;
	padding: 57px 0 15px;
	position: relative;
}

.logo-form {
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -45px;
}

.form-head h4 { 
	margin: 0;
	font-family: 'GOTHAM-MEDIUM';
	font-size: 17px;
}
/*
.logo-form img {
	display: inline-block;
	margin: -30px 0 -10px;
}*/

.form-body {
	padding: 25px 20px 20px;
	background-color: #FFF;
}

.or {
	position: relative;
    text-align: center;
    color: #9a9a9a;
    font-size: 14px;
    margin-bottom: 10px;
}

.or:before {
    content: "";
    height: 2px;
    background-color: #d2d2d2;
    position: absolute;
    top: 7px;
    width: 44%;
    left: 0;
}

.or:after {
    content: "";
    height: 2px;
    background-color: #d2d2d2;
    position: absolute;
    top: 7px;
    width: 44%;
    right: 0;
}

.btn-facebook {
	display: block;
	width: 100%;
	background-color: #3b5999;
	height: 50px;
	color: #FFF;
	font-size: 18px;
	border-radius: 2px;
}

.btn-facebook:hover {
	color: #FFF;
}

.btn-facebook img {
	position: relative;
	top: -1px;
	left: -4px;
}


.form-wrap .checkbox input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
}

.form-wrap .checkbox label {
	color: #FFF;
	background-image: url("images/check.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
}

.form-wrap .checkbox input[type="checkbox"]:checked + label {
	background-position: 0 -39px;	
}

a.link-forget {
	display: inline-block;
	margin-top: 10px;
}

/* ......................  profile page ........................... */

.userCover-img  {
	min-height: 500px;
	position: relative;
	z-index: 10;
	background-image: url("images/Profile-cover.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.userCover-img > .btn-default {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 6px 0 0 0;
}

.userCover-toBottom {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.userCover-toBottom .container {
	position: relative;
}

.userProfile-picPadding {
	padding: 3px;
    position: relative;
    display: inline-block;
    background-color: #FFF;
    top: 40px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    width: 300px;
	height: 300px;
}

.userProfile-picPadding .btn-default {
	position: absolute;
	right: 3px;
	bottom: 3px;
	border-radius: 6px 0 0 0;
}

.userProfile-picPadding .btn-default .fa-camera {
	margin-right: 5px;
}

.userProfile-pic {
	display: inline-block;
	background-image: url("images/Profile-userImg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.userName-cover {
	display: inline-block;
	color: #FFF;
	font-size: 40px;
	vertical-align: bottom;
	padding: 0 0 30px 20px;
	font-family: 'GOTHAM-MEDIUM';
}

.toAbsolute {
	position: absolute;
	bottom: 30px;
	right: 0;
}

.userCover-toBottom h2, .userCover-toBottom p {
	color: #0e0e0e;
	font-size: 48px;
}

.userCover-toBottom p {
	font-size: 21px;
}

/* ...................  profile page - left side bar .......................  */

.block-shadow {
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	background-color: #FFF;
	border-radius: 3px;
}

.font-lightColor {
	color: #cbcaca; 
}

.blockShadow-head {
	margin: 0;
	padding: 10px 20px;
	background-color: #fbfbfc;
	color: #383636;
}

h3.blockShadow-head {
	font-size: 20px;
	font-family: 'GOTHAM-MEDIUM';	
}

h3.blockShadow-head a {
	font-size: 16px;
	float: right;
}

ul.list-abouts {
	padding: 0 20px;
}

ul.list-abouts li {
	padding: 15px 0;
	border-bottom: 2px solid #f2f2f2;
}

ul.list-abouts li:last-child {
	border: none;
}

ul.list-abouts li .fa {
	float: left;
	margin-right: 15px;
	line-height: 22px;
	font-size: 16px;
}

ul.list-abouts li > div {
	padding-left: 30px;
}

ul.list-abouts li p {
	margin-bottom: 0;
}

/* .........  control on post comment ......... */

.postComment-actionList li {
	float: left;
	margin-right: 30px;
}

.postComment-actionList li a {
	color: #888686;
	font-family: 'GOTHAM-MEDIUM';
	font-size: 16px;
}

.postComment-actionList li .fa {
	margin-right: 7px;
}

.postComment-actionList li .fa-pencil-square,
.postComment-actionList li .fa-flag {
	color: #eed257;
}

.post-textarea-wrap, .post-textarea-wrap-2 {
	padding: 15px 20px 0;
	background-color: #FFF;
	border-radius: 6px;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease; 
	-webkit-transition: all 0.2s ease;
}

.post-update-img {
	width: 40px;
	height: 40px;
	background-image: url("images/Profile-userImg.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

.post-update-text {
	margin-left: 58px;
}

.post-textarea-wrap-2 .post-update-text { margin-left: 0;}

.post-update-text textarea {
	border: none;
	resize:none;
	display: block;
	width: 100%;
	padding: 10px 0;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-webkit-transition: all 0.3s ease;
}

.blockShadow-foot {
	padding: 15px 20px;
	border-top: 1px solid #f2f2f2  
}

.blockShadow-foot > .dropdown {
	display: inline-block;
}

.blockShadow-foot .btn-default {
	color: #888686;
	font-size: 14px;
	border-radius: 15px;
	padding: 1px 12px;
}

.blockShadow-foot > .btn {
	margin-left: 12px;
}

.posts .post-textarea-wrap  {
	padding: 0;
	background-color: transparent;
}

.posts .post-update-text span, .timePosted {
	line-height: 38px;
	font-family: 'GOTHAM-MEDIUM';
	font-size: 16px;
	color: #888686;
}

.postsImage {
	padding: 30px;
}

.postsImage img {
	max-width: 100%;
}

.addBoxes img {
	max-width: 100%;
}

/* ............................  index page ...............................  */

.banner-index {
	height: 419px;
	display: table;
	width: 100%;
	background-image: url("../images/bannerIndex.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.toTable {
	display: table;
}

.toTable-cell {
	display: table-cell;
	vertical-align: middle;
}

.toTable-cell.vAlign-top { vertical-align: top ;}

.banner-index-form {
	display: table;
	margin: 0 auto;
}


.banner-index-form .nav-tabs>li {
	margin: 0 10px 0 0;
}

.banner-index-form .nav-tabs, .tab-sdebar .nav-tabs {border-bottom: none;}
.banner-index-form .nav-tabs>li:last-child { margin-right: 0; float: right;}

.banner-index-form .nav-tabs>li>a, .tab-sdebar .nav-tabs>li>a {
	background-color: rgba(67,74,84,0.6);
	color: #FFF;
	border-radius: 0;
	text-transform: uppercase;
	margin-right: 0;
	font-size: 15px;
	font-weight: 700;
	padding: 17px 15px;
}

.banner-index-form .nav-tabs>li>a:hover,
.tab-sdebar .nav-tabs>li>a:hover {
	background-color: #4a97d2;
	border-color: #4a97d2;
	color: #FFF;
}

.banner-index-form .nav-tabs>li>a .fa {
	font-weight: normal;
	margin-right: 5px;
}

.banner-index-form .nav-tabs>li.active>a, .banner-index-form .nav-tabs>li.active>a:focus, 
.banner-index-form .nav-tabs>li.active>a:hover,
.tab-sdebar .nav-tabs>li.active>a, .tab-sdebar .nav-tabs>li.active>a:focus,
.tab-sdebar .nav-tabs>li.active>a:hover {
	background-color: #4a97d2;
	border-color: #4a97d2;
	color: #FFF;
}

.banner-index-form .tab-pane, .tab-sdebar .tab-pane {
	padding: 20px;
	background-color: rgba(67,74,84,0.6);
}

.bannerForm-wrap { position: relative; }
.bannerForm-wrap .form-group { 
	width: 100%;
	padding-right: 67px;
}
.bannerForm-wrap > form > .btn {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #f87c29;
	color: #FFF;
	border-radius: 0;
	border: none;
	height: 52px;
	min-width: 52px;
	font-size: 20px;
}

.bannerForm-wrap > form input[type="text"] {
	border-radius: 0;
	border: none;
	width: 100%;
	height: 52px;
	font-size: 20px;
	font-weight: 300;
}

/* ................  left side bar's form ...................  */

h2.block-heading {
	font-size: 40px;
	margin: 0 0 10px;
	color: #434a54;
	text-transform: uppercase;
}

h3.block-SubHeading {
	margin: 0 0 60px;
	font-size: 32px;
	font-weight: 300;
	color: #767b81;
	position: relative;
}

h3.block-SubHeading:after {
	content: "";
    width: 120px;
    height: 4px;
    position: absolute;
    display: inline-block;
    bottom: -20px;
    left: 50%;
    margin-left: -60px;
    background-color: #e4e5e6;
}

.tab-sdebar .nav-tabs>li { margin-bottom: 0; margin-right: 5px; min-width: 100px; text-align: center; }
.tab-sdebar .nav-tabs>li>a, .tab-sdebar .tab-pane { background-color: #434a54; }

.sidebar-Formwrap select, .sidebar-Formwrap input[type="text"] {
	background-color: #4a515c;
	color: #8f9298;
	height: 50px;
	border: none;
	border-radius: 0;
	font-size: 16px;
}

.tags {
	background-color: #4a515c;
	padding: 11px 15px;
	margin-bottom: 15px;
}

/* default ng tags overrides */
tags-input .host {
	margin-top: 0;
	margin-bottom: 0;
}

tags-input .tags {
	padding: 0;
	border: none; 
}

tags-input .tags .input {
	margin: 0;
	width: 100%!important;
	padding-left:12px;
}

tags-input .tags .tag-list {background-color: #434a54;}
tags-input .tags .tag-list:after {
	content: "";
	display: table;
	clear: both;
}

tags-input .tags .tag-item, .tags a {
	background: #676d77;
	display: inline-block;
	color: #8f9298;
	padding: 2px 7px;
	line-height: 24px;
	margin-right: 5px;
	border-radius: 0;
	border: none; 
}

tags-input .tags .tag-item .remove-button { color: #8f9298;}

.tags a .fa {
	font-size: 16px;
	margin-left: 4px;
	vertical-align: middle;
}

.date-range .fa {
	position: absolute;
	right: 30px;
	top: 18px;
}

.tab-sdebar .btn.btn-primary {
	width: 100%;
}

/* ...................   right side main content - travel itinrary list .......................  */

.itinrary-list > ul > li { margin-bottom: 30px;}
.itinrary-list > ul > li:last-child { margin-bottom: 0;}

.itinList-img {
	width: 224px;
	height: 220px;
	background-color: #CCC;
	background-image: url("../images/ti-one.jpg");
	background-repeat: no-repeat;
	background-size: cover;  
}

h3.list-it-head {
	margin: 0;
	padding: 15px;
	font-size: 16px;
	background-color: #f9f9f9;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	font-weight: 700;
	color: #939393;
}

.padding { padding: 15px; }

.btnBlock {padding: 0 20px;}

.btnBlock.red { background-color: #f3676f; }
.btnBlock.yellow { background-color: #f0a561; }
.btnBlock.blue { background-color: #2fb8d8; }

.btnBlock .btn.btn-outline {
	background-color: transparent;
	border-radius: 0;
	border: 1px solid #FFF;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	min-height: 50px;
}

.itinrary-list .toTable-cell.vAlign-top {
	border-bottom: 1px solid #f1f1f1;
}

/* ..................................  popular destination block styles ........................  */

.destination-img {
	height: 240px;
	background-color: #ccc;
	background-image: url("../images/pop-destOne.jpg");
	background-repeat: no-repeat;
	background-size: cover;  
}

.destination-wrap > .padding {
	border: 1px solid #f1f1f1;
	border-top: none;
}

h3.journy-head {
	background-color: #434a55;
	margin: 0;
	color: #FFF;
	font-size: 18px;
	padding: 18px 15px;
	font-weight: 700;
}

.row.tag-kwd {margin: 0;}
.tag-kwd .col-xs-6 {padding: 0;}

.tag-kwd a {
	display: block;
	color: #FFF;
	padding: 6px 15px;
}
.tag-kwd a .fa {vertical-align: middle; margin-right: 4px;}

.tag-kwd.red a {background-color: #b76ee1;}
.tag-kwd.red > .col-xs-6:nth-of-type(2) a {background-color: #c075ec;}

.tag-kwd.yellow a {background-color: #f3cb00;}
.tag-kwd.yellow > .col-xs-6:nth-of-type(2) a {background-color: #fed400;}

.tag-kwd.orange a {background-color: #e59e5d;}
.tag-kwd.orange > .col-xs-6:nth-of-type(2) a {background-color: #f0a661;}

h4.app-heading {
	color: #1b1b1b;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
}

/* .........................  main foote starts ................................  */

footer {
	background-color: #434955;
	color: #FFF;
	padding: 55px 0 35px; 
}

footer a { color: #FFF; }

h4.foot-heading {
	font-size: 18px;
	font-weight: 700;
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 20px;
	text-transform: uppercase;
}

h4.foot-heading:after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 2px;
	background-color: #FFF;
}

ul.contact-foot li {
	border-bottom: 1px solid #494f5a;
	padding: 11px 0;
}

ul.contact-foot li a {
	font-size: 14px;
	font-weight: 700;
}
ul.contact-foot li a:hover {
	color: #ccc;
	text-decoration: none;
}

ul.contact-foot li a .fa {
	font-size: 18px;
	vertical-align: middle;
	font-weight: normal;
	margin-right: 5px;
}


ul.social-foot { margin-top: 15px;}
ul.social-foot li { 
	float: left;
	margin-right: 15px;
}
ul.social-foot li a {
	display: inline-block;
	width: 38px;
	height: 38px;
	text-align: center;
	padding-top: 8px;
}

ul.social-foot li a.red { background-color: #c074eb; color: #FFF; }
ul.social-foot li a.blue { background-color: #2fb8d8; }
ul.social-foot li a.green { background-color: #35bc98; }

ul.social-foot li a .fa {
	vertical-align: middle;
}

footer .tags {
	padding: 0;
	background-color: transparent;
}

footer .tags a {
	margin-bottom: 10px;
	color: #FFF;
	padding: 2px 11px; 
	font-size: 14px;
}

.galleryFooter ul.row { margin: 0 -10px;}
.galleryFooter ul li.col-sm-4 {padding: 0 10px; margin-bottom: 20px;}
.galleryFooter ul li a {
	display: block;
	height: 74px;
	width: 100%;
	background-image: url("../images/footGalOne.jpg");
	background-repeat: no-repeat;
	background-size: cover;  
}

.contactForm-footer input[type="email"],
.contactForm-footer textarea {
	background-color: #4a515c;
    color: #8f9298;
    min-height: 40px;
    border: none;
    border-radius: 0;
    font-size: 14px;
}

.contactForm-footer textarea {
	width: 100%;
	min-height: 58px;
	resize: none;
}


/* .......................  page tour plan styles ..............................  */

.banner-index.tourPage {
	background-image: url("../images/banner-tourPlan.jpg");
	display: block; 
	height: 334px;
}

.banner-index.tourPage h4, h5 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 20px;
}

.banner-index.tourPage h4.foot-heading {
	padding-bottom: 10px;
	margin: 60px 0 10px;
	font-size: 24px;
}

.toBg {
	background-color: #f9f9f9;
	padding: 20px 15px;
}


.tour-summry { padding-left: 58px;}
.tour-summry h3 {
	margin: 0;
	color: #4a97d2;
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	display: inline-block;
}

.tour-summry h3 > span:first-child {
	border-right: 2px solid #4a97d2;
	padding-right: 8px;
}

.tour-summry h3 > span:last-child {
	color: #4a97d2;
}

.tourSum-pic {
	position: absolute;
	left: 15px;
	top: -5px;
	z-index: 99999;
	width: 44px;
	height: 44px;
	border-radius: 100px;
	background-color: #CCC;
}

/*.tourSlide-region {
	min-height: 100px;
}*/

.tourSlide-region h5 { 
	color: #222;
	font-weight: 700;
	margin: 0;
}

.tourSlide-region .fa-plane {
	color: #4a97d2;
	font-size: 22px;
}

.tourSlide-region .updateme {
	padding: 30px 25px 10px;
}

.toBg-white {
	padding: 20px 15px;
	background-color: #FFF;
	border: 1px solid #f1f1f1;  
}

.toBg-white select {
	margin-right: 15px;
}

.panel-primary>.panel-heading {
	background-color: #4a97d2;
	border-color: #4a97d2;
}

.panel-primary { border-color: #4a97d2;}

select {
	border-color: #f1f1f1;
	border-width: 1px;
	border-style: solid;
	height: 38px;
	min-width: 80px;
	padding: 0 8px;
	vertical-align: middle;
}

.toBg-white a.accent-color {
	display: inline-block;
	line-height: 36px;
	margin-right: 15px;
}

.icon-map {
	position: relative;
	padding-left: 40px;
}

.icon-map:before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 7px;
	background-position: -8px -8px;
}

/* .......  content list - tour plan .........  */
.tourPlan-wrap { 
	min-height: 580px;
	margin-bottom: 35px;
}

.it-next, .it-prev {
	background-color: transparent;
	text-indent: -99999px;
	text-align: left;
	border: 1px solid #d4d4d4;
	width: 31px;
	height: 32px; 
}

.it-prev { background-position: -5px -66px;}
.it-next { background-position: -54px -66px;}

.toHide-overflow {overflow: hidden;}
.attractioList-wrap {
	position: absolute;
	min-width: 280px;
	right: 0;
	top: 67px;
	z-index: 1000;
	min-width: 320px;
	transform: translate(320px,0);
	-moz-transform: translate(320px,0);
	-webkit-transform: translate(320px,0);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.slide-done .attractioList-wrap {
	transform: translate(0,0);
}

/* toggle translate */

.attractioList-main {
	box-shadow: 0 1px 5px #ccc;
	-moz-box-shadow: 0 1px 5px #ccc;
	-webkit-box-shadow: 0 1px 5px #ccc;
	/*transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);*/
}

.attractioList-head {
	background-color: #4a97d2;
	padding: 29px 15px;
}

.attractioList-head h3 {
	font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #FFF;
}

.attractioList-head h3 span {
	font-size: 20px;
}

.att-padding {
	padding: 10px;
}

.attractioList-content { background-color: #FFF;}
.place-sel {
	border-bottom: 1px solid #f1f1f1;
}

.place-sel select {width: 100%;}

.attractioList-wrap .btn.plus {
	background-color: #4288bd;
	color: #FFF;
	font-size: 24px;
	border-radius: 0;
	min-height: 84px;
	min-width: 84px;
	position: absolute;
	left: -84px;
	z-index: 9999;
}

h4.attHead-sec {
	color: #FFF;
	background-color: #434a54;
	padding: 10px 15px;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
}

.toBorder {border: 1px solid #f1f1f1;}

.att-padding .nav-tabs>li { 
	margin-bottom: -2px;
	width: 50%;
	text-align: center;
}

.att-padding .nav-tabs>li a {
	color: #b5b5b5;
	border-bottom: 2px solid transparent;
	padding: 6px 10px;
}

.att-padding .nav-tabs>li.active>a {
	color: #000;
	border:none;
	border-bottom: 2px solid #000;
}

.serach-places input[type="text"] {
	height: 34px;
	width: 100%;
	padding: 0 10px;
}

.att-places {
	position: relative;
    padding: 10px 0 10px 62px;
    min-height: 42px;
}

.att-list > ul {
	max-height: 258px;
	overflow-y: auto; 
}
.att-list ul li { border-bottom: 1px solid #f1f1f1; }

.att-placesPic {
	position: absolute;
	width: 42px;
	height: 42px;
	background-color: #ccc;
	border-radius: 200px;
	left: 10px;
	top: 6px;
}

.att-places h4 {
	margin: 0;
	font-size: 14px;
	color: #000;
}

.att-places a {color: #8b8b8b;}

.tourPlan-header.black { 
	background-color: #434a54;
 }

 .tourPlan-header.blue { 
	background-color: #4b97d1;
 }

.tourPlan-header {
	padding: 15px;
	color: #FFF;
	position: relative;
	margin-bottom: 25px;
}

.tourPlan-header h3 { font-size: 24px; font-weight: 700; margin: 0 0 6px;}
.tourPlan-header h3 span, .tourPlan-header span {font-size: 16px; font-weight: 300;}
.tourPlan-header > a {
	position: absolute;
	color: #FFF;
	z-index: 99;
	right: 15px;
	top: 15px;
	font-size: 18px;
}


ul.tour-plan-main h4 {
	margin: 0;
	font-size: 16px;
	color: #000;
}

.tourPlan-header h5 {
	font-size: 20px;
	margin: 0;
	text-transform: capitalize;
}

.tour-plan-main .btn.dropdown-toggle {
	font-size: 14px;
	font-weight: 300;
	color: #000;
	padding: 3px 12px;
	background-color: #fcfcfc; 
	border-color: #f1f1f1;
}

.timepicker button.btn { 
	min-width: 78px;
	padding: 1px 5px!important;
	line-height: 18px;
	min-height: 0;
	font-size: 12px;

}

.btn-link { color: #8b8b8b;}

.uib-time.am-pm .btn.btn-default {
	border-color: #f1f1f1;
	min-width: 20px;
} 

.drag-item {
	position: relative;
	background-color: #fcfcfc;
	border: 1px solid #f1f1f1;
	padding: 20px 0 20px 58px; 
}

.dragItem-pic {
	position: absolute;
	left: 11px;
	top: 11px;
	z-index: 999;
	width: 36px;
	height: 36px;
	border-radius: 100px;
	background-color: #ccc;
}

.remove-it {
	margin-top: 7px;
	font-size: 16px;
	color: #8b8b8b;
	cursor: pointer;
}

.dragItem-pic.icon-plane { background-position: -55px -7px; }

.tourInfo {
	padding-left: 13px;
	position: relative;
}

.tourInfo-inner.bordered {
	border-left: 4px solid;
}

.bordered.yellow {
	border-color: #f87c29;
}

.bordered.blue {
	border-color: #64a6d8;
}

.tourInfo-inner {
	padding: 20px 20px 20px 30px;
}

.stats-dist {
	margin: 16px 0;
}

a.icon-lock {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 150px;
	background-position: -112px -11px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px; 
}

.stats-dist .fa { 
	color: #64a6d8; 
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

.dest-action {margin-top: 5px;}
.dest-action ul li {
	float: left;
	margin-right: 15px;
}

.dest-action ul li:last-child { margin-right: 0;}
.dest-action ul li a {
	color: #8b8b8b;
	font-size: 14px;
}

.dest-action ul li a .fa { margin-right: 3px;}

.day-end h4 {
	display: table-cell;
	vertical-align: bottom;
	line-height: 32px;
}
.day-end:before {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-color: #f87c29;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.day-end .tourInfo-inner {
	min-height: 100px;
	padding-bottom: 0;
	display: table;
	width: 100%;
}

.drag-item.type-2 {
	padding: 9px 0 9px 58px; 
}

.type-2 .dropdown {
	margin-top: 6px;
}
.tour-plan-main .type-2 .btn.dropdown-toggle {
	border: none;
	font-size: 12px;
	padding: 0;
	color: #000;
	min-height: 0; 
}

.type-2 label {
	font-size: 12px;
	font-weight: 400;
	margin: 0;
}

.blue.day-end:before {
	background-color: #64a6d8;
}

.stats-dist {
	font-size: 12px;
	color: #000;
}

.stats-dist > a {
	float: right;
	color: #64a6d8; 
	font-size: 12px;
}

.tour-edit form { margin-left: -10px;}
.tour-edit .form-group {
	margin: 0 10px;
}


/* .............  edit itinerary / let me plan page ........................  */

.container-editIt {
	display: table;
	margin: 0 auto;
}

.start-city > div { 
	display: inline-block;
	position: relative;
}

.toRelative {position: relative;}

.date-select.date-range .fa {right: 15px;}
.date-select input[type="text"] {
	background-color: #4a515c;
    color: #8f9298;
    height: 50px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    padding: 0 15px;
}

.city-pic {
	position: absolute;
	left: 15px;
	top: 9px;
	width: 62px;
	height: 62px;
	border-radius: 240px;
	background-color: #ccc;
}

.search-city select {
	background-color: #4a515c;
    color: #8f9298;
    height: 50px;
    min-width: 280px;
    border: none;
}

.search-city {
	background-color: #434a54;
	padding: 15px 15px 15px 95px;
}

.enter-dest {
	background-color: #4b97d1;
	padding: 15px;
}

.enter-dest h4 {
	color: #FFF;
	margin: 0 0 15px;
}

.enter-dest .fa {
	position: absolute;
	top: 17px;
	right: 15px;
	font-size: 18px;
}

.enter-dest input {
	width: 100%;
	height: 51px;
	border-radius: 0;
	padding: 0 38px 0 15px;
	font-size: 16px;
}

.type-2 .btn.dropdown-toggle {
    border: none;
    font-size: 12px;
    padding: 0;
    color: #000;
    min-height: 0;
}

.type-2 h4 {
	margin: 0;
    font-size: 16px;
    color: #000;
}

.add-moreCities select {
	width: 50%;
}


/* .....................  responsive rules for sign up / in pages ...................  */

@media (max-width:1199px) {
	.navbar-brand {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-nav>li>a {
		padding-right: 8px;
		padding-left: 8px;
	}

	.form-wrap input[type="email"], .form-wrap input[type="password"] {
		height: 40px;
	}
}


@media (max-width: 991px) {
.navbar-toggle {
    display: block;
    margin-top: 3px;
    margin-right: 0;
}

.navbar-header {
	float: left;
	width: 100%;
}

#mainHeader .container { position: relative;}
.search-header {
	position: absolute;
	right: 75px;
}

.form-wrap .checkbox label, a.link-forget {
	font-size: 12px;
}

a.link-forget {
	margin-top: 11px;
}

.navbar-collapse {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	background-color: #000;
}

.navbar-nav>li {
	width: 100%;
}

.cell-left h2 {
	font-size: 38px;
}

}

@media (min-width: 992px) {

.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}

}

@media (max-width: 767px) {
	.container-custom {
		display: block;
	}

	.toCell {
		display: block;
		width: 100%;
	}

	.toCell.cell-left {
		width: 100%;
		padding: 50px 15px;
		text-align: center;
	}

	.toCell.cell-right {
		padding-bottom: 30px;
	}

	.cell-left h2 {
		font-size: 36px;
	}

	.cell-left h4 {
		font-size: 22px;
	}

	.navbar-collapse {
		left: 15px;
	}

	.navbar-header {
		margin-left: 0!important;
		margin-right: 0!important;
	}

	.form-wrap {
		position: relative;
		z-index: 99999;
	}

}
