
    <main>
        <!-- ................  banner - index page .........................  -->
        <div class="banner-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="foot-heading">{{'create.Create_Attraction' | translate}}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="gred-color pull-right"><i class="fa fa-quote-left" aria-hidden="true"></i> {{'create.LET_OTHER_KNOW' | translate}}<br>{{'create.WHAT_THEY_HAVE_BEEN_MISSING' | translate}} <i class="fa fa-quote-right" aria-hidden="true"></i></h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- .........................................  tour plan details block ......................................................... -->
        <div class="main-content-margin mt-Bottom30">
            <!-- ..............  attraction search list ............................. -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="global-bgColor clearfix"  ng-submit="createAttraction()" name="CreateAttractionForm" novalidate>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{'create.Name' | translate}}</label>
                                    <input type="text" class="form-control" name="name" placeholder="{{'create.Name_of_Attraction' | translate}}" ng-model="attraction.name" required ng-class="CreateAttractionForm.name.$touched && CreateAttractionForm.name.$error.required ? 'error' : ''">
                                    <span class="errormsg" ng-show="count && CreateAttractionForm.name.$error.required">{{'create.name_is_required' | translate}}.</span>
                                </div>
                                <div class="form-group">
                                    <label>{{'create.About_Attraction' | translate}}</label>
                                    <textarea class="form-control descriptionBox" name="description" placeholder="{{'create.Description_Here' | translate}}" ng-model="attraction.description" required ng-class="CreateAttractionForm.description.$touched && CreateAttractionForm.description.$error.required ? 'error' : ''"></textarea>
                                    <span class="errormsg" ng-show="count && CreateAttractionForm.description.$error.required">{{'create.description_is_required' | translate}}.</span>
                                </div>
                                <div class="form-group">
                                    <label>{{'create.Phone_Number' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'create.Phone_Number' | translate}}" ng-model="attraction.phone_no">
                                </div>
                                <div class="form-group">
                                    <label>{{'create.Categories' | translate}}</label>
                                    <select class="form-control" ng-model="attraction.category" ng-options="value.title for value in categories track by value.name" name='category' required ng-class="CreateAttractionForm.category.$touched && CreateAttractionForm.category.$error.required ? 'error' : ''">
                                        <option value="">--{{'create.Select_Category' | translate}}--</option>
                                    </select>
                                    <span class="errormsg" ng-show="count && CreateAttractionForm.category.$error.required">{{'create.Category_is_required' | translate}}.</span>
                                </div>
                                <div class="form-group">
                                    <label>{{'create.City' | translate}}</label>
                                    <select class="form-control" ng-model="attraction.city" ng-change="cityPlace(attraction.city)" ng-options="value.city for value in destinations track by value._id" name='city' required ng-class="CreateAttractionForm.city.$touched && CreateAttractionForm.city.$error.required ? 'error' : ''" >
                                        <option value="">--{{'home.Select_City' | translate}}--</option>
                                    </select>
                                    <span class="errormsg" ng-show="count && CreateAttractionForm.city.$error.required">{{'create.city_is_required' | translate}}.</span>
                                </div>
                                <div class="form-group global-bgColor">
                                    <label>{{'create.Timings' | translate}}</label>
                                </div>
                                <div class="radio noMargin pull-left col-sm-6">
                                    <label>
                                        <input type="radio" name="time" id="is_always_open" value=true ng-change="alwaysopen()" ng-model="attraction.is_always_open">
                                        {{'create.Always_Open' | translate}}
                                    </label>
                                </div>
                                <div class="radio noMargin pull-left">
                                    <label>
                                        <input type="radio" name="time" id="custom_timing" value=false ng-change="alwaysopen()" ng-model="attraction.is_always_open">
                                        {{'create.Add_Custom_Timings' | translate}}
                                    </label>
                                </div>

                                <div class="row" ng-if="attraction.is_always_open == 'false'">
                                    <button class="btn btn-primary margin30" type="button" ng-click="clickme()" tabindex="13">{{'create.Add_Timing' | translate}}</button>
                                    <div class="row add_days timingdiv" ng-repeat="day in openclose">
                                        <div class="form-group pull-left day">
                                            <label>Day</label>
                                            <select class="dayHeight" name='day' ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" required ng-class="CreateAttractionForm.day.$touched && CreateAttractionForm.day.$error.required ? 'error' : ''">
                                            <option>Select Days</option>
                                            </select>
                                            <span class="errormsg" ng-show="count && CreateAttractionForm.day.$error.required">day is required.</span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Opening Time</label>
                                            <input class="form-control" type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentime" required ng-class="CreateAttractionForm.opening_time.$touched && CreateAttractionForm.opening_time.$error.required ? 'error' : ''">
                                            <span class="errormsg" ng-show="count && CreateAttractionForm.opening_time.$error.time">Incorrect Time.</span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Closing Time</label>
                                            <input class="form-control" type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetime" required ng-class="CreateAttractionForm.closing_time.$touched && CreateAttractionForm.closing_time.$error.required ? 'error' : ''">
                                            <span class="errormsg" ng-show="count && CreateAttractionForm.closing_time.$error.time">Incorrect Time.</span>
                                        </div>
                                        <a ng-click="removeopenclosetime($index)"><i class="fa fa-times fa_times" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-whiteBox"> 
                                    <div class="form-group">
                                        <label>{{'create.Address' | translate}}</label>
                                        <textarea class="form-control" placeholder="{{'create.Attraction_Address' | translate}}" ng-model="attraction.address" name='address' required ng-class="CreateAttractionForm.address.$touched && CreateAttractionForm.address.$error.required ? 'error' : ''"></textarea>
                                        <span class="errormsg" ng-show="count && CreateAttractionForm.address.$error.required">{{'create.address_is_required' | translate}}.</span>
                                    </div>
                                    <div class="map-view">
                                        <div class="text-right">
                                            <a href="" value="current" ng-click="current()">{{'create.My_Location' | translate}}</a>
                                            <a href="" value="check" ng-click="checkaddress(attraction.address)">{{'create.Get_Location' | translate}}</a>
                                        </div>
                                    </div>
                                        <div id="googleMap"></div>
                                    <div class="clearfix mt-top10">
                                        <div class="pull-left">
                                            <label class="lable-marRight">{{'create.Longitude' | translate}}</label><input type="text" class="coords" ng-model="attraction.longitude" disabled>
                                        </div>
                                        <div class="pull-right">
                                            <label class="lable-marRight">{{'create.Latitude' | translate}}</label><input type="text" class="coords" ng-model="attraction.latitude" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-top30">
                                    <label>{{'create.Upload_Images' | translate}}</label>
                                    <div class="form-whiteBox">
                                        <div class="btn btn-primary" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' ngf-multiple="true" ngf-pattern="'image/*'" name="temp_file" required ng-class="CreateAttractionForm.temp_file.$touched && CreateAttractionForm.temp_file.$error.required || !CreateAttractionForm.temp_file.$valid && submitted ? 'error' : ''" >{{'create.Browse_From_Drive' | translate}}</div>
                                        <span ng-if="temp_file.length > 1">{{temp_file.length}} files selected</span>
                                        <span ng-if="temp_file.length == 1">{{temp_file.length}} file selected</span>
                                    </div>
                                </div>
                                <div class="text-center mt-top30"><img class="compass" src="images/compass.jpg" alt="compass" /></div>
                            </div>
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary" value="{{'create.Create_Attraction' | translate}}">
                                <button class="btn btn-default" ng-click="cancel()">{{'profile.Cancel' | translate}}</button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>  
        </div>        
                    
    </main>