<!-- ..................................  main page content starts ..............................  -->
<main>
    <!-- ................  banner - index page .........................  -->
    <div class="banner-attraction">
        <img ng-src={{attraction.city.image}} class="bannerImage" style="position: absolute;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 main-content-margin">
                    <h4 class="foot-heading">{{attraction.city.city}}</h4>
                    <h5>the best of the mediterranium</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  t-itinarary block ......................................................... -->
    <div class="main-content-margin mt-Bottom30">
        <div class="container">
            <div class="row">
                <!-- ......................  left side bar .............................. -->
                <div class="col-sm-6">
                    <div class="thumbnail-slider">
                        <div class="main-slider"><img ng-src={{img}} class="mainImage" alt="" /></div>
                        <span ng-if="attraction.image_url.length > 1" ng-repeat="images in attraction.image_url">
                  <img class="thumbnailImg" ng-src={{images}} ng-click="changeimage(images)">
                </span>
                    </div>
                </div>
                <!-- ......................  right side bar .............................. -->
                <div class="col-sm-6">
                    <h3 class="rating-head">
              {{attraction.name}}

                            <div class="post-update-text">
                              <star-rating ng-model="ratingValue" readonly="isReadonly"></star-rating>
                            </div>        

            </h3>
                    <h4 class="foot-heading acc-color">{{attraction.category.name}}

              <button class="btn btn-primary pull-right margin5" ng-if="attraction.created_by == loggedInUser._id" ng-click="deleteAttraction()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
   
              <button class="btn btn-primary pull-right margin5" ng-if="attraction.created_by == loggedInUser._id" ng-click="editattraction()"><i class="fa fa-pencil" aria-hidden="true"></i></button>


            </h4>
                    <address class="add-attr-detail">
                        {{attraction.address}}
                        <p class="mt-top10" ng-if="attraction.phone_no"><i class="fa fa-phone" aria-hidden="true"></i> {{attraction.phone_no}}</p>
                    </address>
                    
                    <div class="timing-box">
                        <h4>{{'attraction.Opening_Time' | translate}} :-</h4>
                        <span ng-if="attraction.is_always_open == true"> 24 X 7 Available to serve you :)</span>
                        <span ng-repeat="times in timing track by $index">
                            <div>
                            <span> {{allDays[times.day]}} :- {{times.opentiming | date:'h:mm a'}} - {{times.closetiming | date:'h:mm a'}}</span>
                    </div>
                    </span>
                </div>
                <div class="add-fav mt-top30">

                    <button class="btn btn-primary" type="button" ng-disabled="loggedInUser.bookmark_attraction.indexOf(attraction._id) > -1 ? true : false" ng-click="bookmark(attraction._id)">{{'journal.add_to_favorites' | translate}}</button>
                    <!--               add to favorites</button> -->
                </div>
            </div>
        </div>
        <!-- .................................  row page rating starts .................................. -->
        <div class="row rating-page mt-Bottom30 main-content-margin">
            <div class="col-sm-12 text-center">
                <h3>{{'attraction.How_much_do_you_rate_this' | translate}} ?</h3>
                <div class="container col-sm-9">
                    <div star-rating ng-model="rating1" max="5" ng-click="rateFunction(rating1)" class="starCenter"></div>
                </div>
            </div>
        </div>
        <!-- .................................  row testimonial starts  .................................. -->
        <div class="row">
            <div class="col-sm-12" ng-if="reviewDesc || attraction.reviews.length > 0">
                <h4 class="inlineBlock-heading">{{'attraction.Reviews' | translate}}</h4>
                <div class="testimonials">
                    <ul>
                        <li ng-repeat="data in currentReviewData" ng-if="data.description">
                            <p>{{ loggedInUser._id == data.user_id ? myreview ? myreview : data.description : data.description }}
                            </p>
                            <span class="text-right">{{data.username}}</span>
                        </li>
                        <li ng-repeat="data in attraction.reviews" ng-if="data.excerpt">
                            <p>{{data.excerpt}}
                            </p>
                            <span class="text-right">{{data.user.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .................................  row write review starts  .................................. -->
        <div class="row main-content-margin">
            <div class="col-sm-12">
                <h4 class="inlineBlock-heading">{{'attraction.Write_a_Review' | translate}}</h4>
                <div class="testimonials writeReview">
                    <textarea ng-model="reviewDescription" class="form-control" placeholder="{{'attraction.Tell_others_what_do_you_think_about_this_attraction' | translate}}. {{'attraction.Would_you_recommend_it_and_why' | translate}} ?" name="description"></textarea>
                    <span>{{'attraction.Your_review_would_help_a_lot' | translate}} !</span>
                    <div class="mt-top20">
                        <input type="submit" class="btn btn-primary" value="Submit Review" ng-click="updateReview()">
                    </div>
                </div>

            </div>
        </div>
        <!-- .................................  more attractions row starts ......................................  -->
        <div class="row main-content-margin" ng-if="allattractions.length > 0">
            <h4 class="foot-heading grey">{{'attraction.More_Attractions' | translate}}</h4>
            <div class="col-sm-4" ng-repeat="attractionData in allattractions">
                <div class="destination-wrap">
                    <a ui-sref="index.singleAttraction({'id': attractionData._id})">
                        <div><img ng-src={{attractionData.image_url[0]}} class="destination-img"></div>
                        <h3 class="journy-head text-center">{{attractionData.name}}</h3></a>
                </div>
            </div>
        </div>
        <!-- .................................  more itineraries row ends ......................................  -->
        <div class="row main-content-margin" ng-if="attractionItinerary.length > 0">
            <h4 class="foot-heading grey btn-heading">{{'attraction.More_Itineraries' | translate}}<button class="btn btn-primary pull-right">{{'journal.show_more' | translate}}</button></h4>
            <div class="col-sm-4" ng-repeat="data in attractionItinerary">
                <div class="destination-wrap">
                    <!-- {{data}} -->
                    <a ui-sref="index.ItineraryView({'machine_name': data.machine_name,'id': data._id})">
                        <img class="destination-img" ng-src="{{data.image}}">
                        <h3 class="journy-head text-center">{{data.title}}</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
