<script type="text/javascript">
	$(document).ready(function() {

	var isMobile = {
	    Android: function() {
	        return navigator.userAgent.match(/Android/i);
	    },
	    BlackBerry: function() {
	        return navigator.userAgent.match(/BlackBerry/i);
	    },
	    iOS: function() {
	        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
	    },
	    Opera: function() {
	        return navigator.userAgent.match(/Opera Mini/i);
	    },
	    Windows: function() {
	        return navigator.userAgent.match(/IEMobile/i);
	    },
	    any: function() {
	        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
	    }
	};

	 $(document).on("click", '.whatsapp', function() {
	        if( isMobile.any() ) {

	            var text = $(this).attr("data-text");
	            var url = $(this).attr("data-link");
	            var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
	            var whatsapp_url = "whatsapp://send?text=" + message;
	            window.location.href = whatsapp_url;
	        } else {
	            alert("Please share this itinerary in mobile device");
	        }

	    });
	});
</script>
<div class="share-plan">
			<div class="sharePlan-head"></div>
			<div class="sharePlan-body">
				<div class="shareP-head">
					<div class="text-center"><span><i class="fa fa-share-alt" aria-hidden="true"></i></span></div>
					<h6 class="text-center">{{'itinerary.share_this_plan_on' | translate}}</h6>
				</div>
				<div class="clearfix socila-sharePlan">

					<div class="col-xs-3 text-center">
						<a  href="http://service.weibo.com/share/share.php?url={{currentUrl}}&appkey=&title={{itinerary.title}}&ralateUid=&language=zh_cn">
							<span class="pin-red"><i class="fa fa-weibo" aria-hidden="true"></i></span>
						</a>
					</div>

					<div class="col-xs-3 text-center">
						<a data-text="{{itinerary.title}}" data-link="{{currentUrl}}" class="whatsapp w3_whatsapp_btn w3_whatsapp_btn_large">
						<span class="pin-green"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>

							
						</a>
					</div>
					<div class="col-xs-3 text-center">
						<a facebook-feed-share class="fb_share_btn" data-link='{{currentUrl}}' data-shares='shares', data-description="{{itinerary.title}}" data-callback="callback">
							<span class="fb-blue"><i class="fa fa-facebook" aria-hidden="true"></i></span>
						</a>
					</div>

					<div class="col-xs-3 text-center">
						<a href="http://share.renren.com/share/buttonshare.do?link={{currentUrl}}&title={{itinerary.title}}">
							<span class="tw-blue"><i class="fa fa fa-renren" aria-hidden="true"></i></span>
						</a>
					</div>
				</div>
				<div class="text-center" ><button class="btn btn-default" ng-click="closeThisDialog()">{{'itinerary.No_Thanks' | translate}}</button></div>
			</div>
		</div>