<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Edit Journal
        </h1>
    </div>
</div>

<form role="form" ng-submit="UpdateJournal()" name="editJournalForm" novalidate>
     <div class="form-group">
        <label for="first_name">Title :</label>
        <input type="text" class="form-control" name="title" ng-model="journal.title" id="first_name" placeholder="journal title" tabindex="2">
        <span class="error help-block col-xs-12 red" ng-show="submitted && !editJournalForm.title.$touched || editJournalForm.title.$touched && editJournalForm.title.$error.required">Required!</span>
    </div>
   
    <div class="form-group">
        <label for="last_name">Description :</label>
        <textarea type="text" class="form-control" ng-model="journal.description" id="description" placeholder="journal description" tabindex="3"></textarea>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !editJournalForm.description.$touched || editJournalForm.description.$touched && editJournalForm.description.$error.required">Required!</span>
    </div>

<!--     <div class="form-group">
        <label for="last_name">Language :</label>
        <input type="text" class="form-control" ng-model="journal.language" id="last_name" placeholder="Last Name" tabindex="3">
    </div>   -->  
    <div class="form-group"> 
    <label for="tags">Tags :-</label>
    <tags-input ng-model="journal.tags" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3" >
     <auto-complete source="getTags($query)" select-first-match="false"  min-length="1"></auto-complete>
    </tags-input>
    </div>



    <div class="form-group">
        <label for="language">language *:</label>
        <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="11" required autofocus>
            <option value="">{{journal.language}}</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !editJournalForm.language.$touched || editJournalForm.language.$touched && editJournalForm.language.$error.required">Required!</span>
    </div>

<!--     <div class="form-group">
        <label for="last_name">Publish :</label>
        <input type="text" class="form-control" ng-model="journal.publish" id="last_name" placeholder="Last Name" tabindex="3">
    </div> -->     

    <div class="form-group">
        <label for="city">Destination *:</label>
        <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="9"  ng-options="value.city for value in destinations track by value._id" required autofocus>
          <option value="">{{journal.destinations.city}}</option>
        </select>

        <span class="error help-block col-xs-12 red" ng-show="submitted && !editJournalForm.city.$touched || editJournalForm.city.$touched && editJournalForm.city.$error.required">Required!</span>

    </div>

<!--     <div class="form-group">
        <label for="title">Type of journal : </label>
        <input type="text" class="form-control" ng-model="journal.type" id="type" placeholder="Journal type like Relax, Adventure, Love etc..." name='type' required>
        <span class="error help-block col-xs-12 red" ng-show="editJournalForm.type.$touched && editJournalForm.type.$error.required || submitted && !editJournalForm.type.$touched">Required!</span>
    </div> -->

    <div class="form-group">
        <label>Itineraries :</label>                    
        <tags-input ng-model="journal.itineraries" display-property="machine_name" min-length="3" max-tags="1" min-tags="0" add-from-autocomplete-only="true" tabindex="3">
        <auto-complete source="getItineraries($query)" select-first-match="false" min-length="1"></auto-complete>
        </tags-input>
    </div>    

    <div class="form-group">
        <label for="publish">Publish :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="journal.publish" tabindex="12" ng-init="journal.publish = journal.publish || false" autofocus>
    </div>

    <div class="form-group">
        <label for="featured">Featured :</label>
        <input type="checkbox" name="featured" id="featured" ng-model="journal.featured" tabindex="12" ng-init="journal.featured = journal.featured || false" autofocus>
    </div>

    <div class="form-group">
        <label  for="image">Image *:</label>
        <input type="file" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' ngf-pattern="'image/*'">
    </div>

    <div class="form-group">
        <img height="200" src="{{journal.image_url}}" ng-show="journal.image_url && !temp_file">
    </div>   

    <div class="error red" ng-show="error" >{{error}}</div>
    <button type="submit" class="btn btn-primary">Update journal</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</form>
