<main>

    <!-- ................  banner - index page .........................  -->
    <div class="banner-index tourPage">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="foot-heading">{{itinerary.trip_from.city}} TO {{itinerary.trip_to[itinerary.trip_to.length -1].destination.city}} Tour</h4>
                    <!--                         <h5>the best of the mediterranium</h5> -->
                </div>
            </div>
            <div class="row tour-slide-banner">
                <div class="col-sm-12">
                    <div class="toBg">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tour-summry clearfix">

                                    <h3>
                                            <span>{{itinerary.title}}</span>
                                            <span>{{itinerary.start_date | date :  "dd MMM y"}} -{{itinerary.end_date | date :  "dd MMM y"}}</span>
                                        </h3>
                                    <a ng-if="itinerary.created_by == loggedInUser._id && !itinerary.published " ui-sref="index.editItinerary({machine_name : itinerary.machine_name , id : itinerary._id})" class="btn btn-primary pull-right">{{'itinerary.Edit_Itinerary' | translate}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tourSlide-region">
                                <div class="updateme" ng-if="ctrl.ready">
                                    <slick infinite=false slides-to-show=6 slides-to-scroll=1>
                                        <div>
                                           <h5>{{itinerary.trip_from.city}}</h5>
                                            
                                        </div>

                                        <div><i class="fa fa-plane" aria-hidden="true"></i></div>

                                    <div ng-repeat-start="destination in itinerary.trip_to" >
                                            <h5>{{destination.destination.city}}<span>{{stayDays(destination)}}</span></h5>
                                    </div>

                                    <div ng-repeat-end>
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                       <h5>{{itinerary.trip_from.city}}</h5>
                                    </div>
                                </div>
                                    <!-- ............ place slider code here .......... -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toBg-white clearfix">
                        <div class="pull-left" ng-if="!showingMap">
                            <select ng-model="mapday">
                                <option ng-repeat="(key, value) in itinerary.days" value="{{key}}">{{'create.Day' | translate}} {{key}}</option>
                            </select>
                            <button ng-click="showMap()" class="btn btn-primary icon-map">{{'itinerary.Map_View' | translate}}</button>
                        </div>
                        <div class="pull-left" ng-if="showingMap">
                            
                            <button ng-click="hideMap()" class="btn btn-primary icon-map">{{'itinerary.Planner_View' | translate}}</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && itinerary.published" ng-click="bookmark(itinerary._id)" ng-disabled="loggedInUser.bookmark_itinerary.indexOf(itinerary._id) > -1 ? true : false">
                              <i class="fa fa-star" aria-hidden="true" ></i>
                            </button>

                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && itinerary.published" ng-click="saveMyDraft()">{{'itinerary.Save_As_My_Draft' | translate}}</button>

                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && itinerary.published" ng-click="share()">{{'itinerary.Share' | translate}}</button>

                            <button class="btn btn-primary ng-scope" ng-if="!itinerary.isdeleted && loggedInUser._id == itinerary.created_by" ng-click="deleteItinerary()">{{'itinerary.Delete' | translate}}</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  tour plan details block ......................................................... -->
    <div class="main-content-margin toHide-overflow" ng-if="showingMap" ng-class="showSidebar ? 'slide-done' : ''">
            <iframe  class="col-xs-10 col-xs-offset-1 main-content-margin toHide-overflow" style="height:400px" ng-src="{{trustSrc(mapSrc)}}"></iframe >
    </div>

    <div class="main-content-margin toHide-overflow" ng-if="!showingMap" ng-class="showSidebar ? 'slide-done' : ''">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tourPlan-wrap">
                        <div class="clearfix">    
                            <button class="it-next pull-right" ng-click="move(+1)"ng-show="slideron < total_days">{{'itinerary.Next' | translate}}</button>
                            <button class="it-prev pull-left" ng-click="move(-1)"  ng-show="slideron > 1">{{'itinerary.previous' | translate}}</button>
                        </div>

                       <div class="tour-plan-main row">
                            <!-- Repeat days-->
   
                            <div class="col-sm-4" style="min-height:500px" ng-repeat="(key,day) in itinerary.days" ng-hide="key < slideron || slideron +2 < key">
                                <div class="tourPlan-header" ng-class-odd="'black'" ng-class-even="'blue'">

                                    <h3 ng-click="getDaysAttribute()">{{'create.Day' | translate}} {{key}} <span>{{days_dates[$index].date | date :  "dd MMM y" }}</span></h3>
                                    <h5><span>{{days_dates[$index].start_location}}</span> - <span>{{days_dates[$index].end_location}}</span></h5>
                                    <a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </div>
                                <!--Repeat attractions inside drag drop ul-->
                                <ul class="tour-plan-main">
                                    <li ng-repeat="attraction in day" ng-class="!attraction.next_distance.text ? 'day_last_item': '' " >
                                   
                                    <!--attraction-->
                                        <div >
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button">{{attraction.start_time | date:'shortTime' }}</button>

                                            </div>
                                            <div class="drag-item type-2">
                                                 <img ng-src="{{attraction.yelp_image_url ? attraction.yelp_image_url  : attraction.image_url }}" class="dragItem-pic" ng-cloak />

                                                <h4>{{attraction.name}}</h4>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button"> {{attraction.stay_time | date:'HH:mm' }} hrs</button>
                                               </div>
                                            </div>
                                        </div>
                                        
                                        <div class="tourInfo" ng-if="attraction.next_distance.text">
                                            <div class="tourInfo-inner bordered " ng-class="key % 2 == 0 ? 'blue':'yellow'">
                                                <div class="stats-dist clearfix">
                                                <i class="fa fa-taxi" ng-if="attraction.next_travel_mode.toLowerCase() == 'driving'" aria-hidden="true"></i>
                                                <i class="fa fa-male" ng-if="attraction.next_travel_mode.toLowerCase() == 'walking'" aria-hidden="true"></i>
                                                <i class="fa fa-bicycle" ng-if="attraction.next_travel_mode.toLowerCase() == 'bicycling'" aria-hidden="true"></i> 
                                                    {{attraction.next_distance.text}} | {{attraction.next_duration.text}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tourInfo day-end" ng-if="!attraction.next_distance.text" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                            <div class="tourInfo-inner bordered" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                                <h4>{{'create.Day' | translate}} {{key}} {{'itinerary.End_at' | translate}} {{dayend(attraction)  | date:'shortTime'}}</h4>
                                            </div>
                                        </div>

                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  popular destination block starts ......................................................... -->
</main>

