<main class="mt-top100">

        <!-- ................  banner - index page .........................  -->
        <div class="banner-index tourPage">
            <img  ng-src="{{destination.image}}" class="destination_header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="foot-heading">{{destination.city}}</h4>
                        <!-- <h5>{{destination.description}}</h5> -->
                    </div>
                </div>
                <div class="row tour-slide-banner">
                    <div class="col-sm-12">
                        <div class="toBg">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span class="fa-box faBox-blue"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="label">{{destination.city}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <span class="fa-box faBox-red"><i class="fa fa-beer" aria-hidden="true"></i></span>
                                    <span class="label">{{destination.type}}</span>
                                </div>
                                <div class="col-sm-3">
                                    <span class="fa-box faBox-purple"><i class="fa fa-coffee" aria-hidden="true"></i></span>
                                    <span class="label">{{'city.restaurants' | translate}} <a href="">{{restaurantCount}} {{'city.restaurants' | translate}}</a></span>
                                </div>
                                <div class="col-sm-3">
                                    <span class="fa-box faBox-yellow"><i class="fa fa-map-o" aria-hidden="true"></i></span>
                                    <span class="label">{{'city.trip_plans' | translate}} <a href="">{{itineraryCount}} {{'city.trip_plans' | translate}}</a></span>
                                </div>
                                <div class="col-sm-2 text-right"><a  ui-sref="index.createItineraryDays" class="btn btn-lg btn-primary">{{'home.Let_Me_Plan' | translate}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- .........................................  t-itinarary block ......................................................... -->
        <div class="main-content-margin mt-Bottom30">
            <div class="container">
                <div class="row">
                    
                    <!-- ......................  left side bar .............................. -->
                    <div class="col-sm-4">
                        <div class="s-details">
                            <div class="header-black"><h5>{{'city.your_search_details' | translate}}</h5></div>
                            <div class="sDetail-body">
                                <form ng-submit="changeState()">
                                    <div class="form-group">
                                      <select class="form-control" ng-model="sidebar.filter.city" >
                                       <option ng-repeat="destination in destinations" value="{{destination._id}}">{{destination.city}}</option>
                                      </select>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">{{'city.APPLY' | translate}}</button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="s-details">
                            <div class="header-black"><h5>{{'city.CATEGORIES' | translate}}</h5></div>
                            <div class="sDetail-body">
                                <div class="form-group">
                                  <select ng-change="UpdateAttractions()" class="form-control" ng-model="sidebar.filter.category" >
                                   <option ng-repeat="category in categories" value="{{category._id}}">{{category.title}}</option>
                                  </select>
                                </div>
                            </div>
                        </div>

                        <!-- ....................  accordian block ..................... -->
                        <div class="accordian mt-top20">

                            <div class="header-black mt-top20"><h5>{{'city.attractions' | translate}}
                            <!-- <i class="fa fa-plus"></i> -->
                            </h5></div>
                            <div class="accordian-content">
                                <div class="att-list">
                                    <ul>
                                        <li ng-repeat="attraction in attractions">
                                            <div class="att-places">
                                            <a ui-sref="index.singleAttraction({id: attraction._id})">
                                                <img  class="att-placesPic" ng-src="{{attraction.yelp_image_url ? attraction.yelp_image_url : attraction.image_url[0]}}">
                                                <h4>{{attraction.name}}</h4>
                                            </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <!-- ......................  right side bar .............................. -->
                    <div class="col-sm-8">
                        <div class="itinrary-list">
                            <ul>
                                <li ng-repeat="journal in journals">
                                    <div class="toTable full-width">
                                        <div class="toTable-cell">
                                            <img class="itinList-img" ng-src="{{journal.image_url}}">
                                            
                                        </div>
                                        <div class="toTable-cell vAlign-top full-width">
                                            <h3 class="list-it-head">{{journal.title}}
                                                <button class="btn btn-primary pull-right" ng-click="bookmark(journal._id)" ng-disabled="loggedInUser.bookmark_journal.indexOf(journal._id) > -1 ? true : false">
                                                <i class="fa fa-star" aria-hidden="true" ></i></button>
                                                <span class="count-views pull-right">{{journal.views}} views</span>
                                            </h3>
                                            <div class="padding type-two">
                                                <p>{{journal.description | limitTo: 230}}{{journal.description.length > 230 ? '...' : ''}}</p>
                                            </div>
                                            <div class="type-addres">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                <span>{{journal.destinations.city}}</span>
                                            </div>
                                            <div class="list-btn padding">
                                                <ul class="clearfix">
                                                    <li ng-repeat="tag in journal.tags">
                                                        <button class="btn btn-xs btn-primary">{{tag.name}}</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-class="$index%3 == 0 ? 'toTable-cell btnBlock red' : $index%3 == 1 ? 'toTable-cell btnBlock blue' : 'toTable-cell btnBlock yellow'">

                                            <button class="btn btn-outline block" ui-sref="index.singleJournal({id : journal._id})">{{'home.Details' | translate}}</button>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- ......................  right side bar .............................. -->
                </div>
            </div>
        </div>
        
                    
    </main>
