        <div class="slider">
            <div class="slideOne"></div>
        </div>
        <div class="container-custom">
            <div class="toCell cell-left">
                <h2>{{'login.Get' | translate}}  <span>{{'login.away' | translate}}</span> {{'login.before_you_are_too_late' | translate}}</h2>
                <h4>{{'login.Lorem_Ipsum_is_simply_dummy_text_of_the' | translate}}.</h4>
            </div>
            <div class="toCell cell-right">
                <div class="form-wrap">
                    <div class="form-head text-center">
                        <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                        <h4>{{'login.Welcome_to_travel_itinerary' | translate}}</h4>
                    </div>
                    <form role="form" ng-submit="signUp()" name="createForm" novalidate>
                        <div class="form-body">
                            <div class="form-group">
                                <input type="text" class="form-control {{classes.first_name}}" title= "{{titles.first_name}}" placeholder="{{'signup.Enter_Your_Name' | translate}}" name="first_name"  ng-model="user.first_name" ng-class="createForm.first_name.$touched && createForm.first_name.$error.required ? 'error' : ''" required>
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control {{classes.email}}" title="{{titles.email}}" placeholder="{{'signup.Enter_Your_Email' | translate}}" ng-model="user.email"  name="email" required ng-class="createForm.email.$touched ? createForm.email.$error.required ? 'error' : createForm.email.$error.email ? 'error': '' : ''" >
                            </div>


                            <div class="form-group">
                                <input type="password" class="form-control {{classes.password}}" placeholder="{{'signup.Enter_Your_Password' | translate}}" title="{{titles.password}}" ng-model="user.password" name="password" required ng-class="createForm.password.$touched && createForm.password.$error.required ? 'error' : '' ">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control {{classes.cpassword}}"  placeholder="{{'signup.Confirm_Your_Password' | translate}}" title="{{titles.cpassword}}" ng-model="user.confirmPassword" name="cpassword" required ng-class="createForm.cpassword.$touched && createForm.cpassword.$error.required ? 'error' : ''">
                            </div>
                            <div class="or">{{'login.OR' | translate}}</div>
                            <button class="btn btn-facebook" type="button">
                                <span><a  href="/api/users/login/facebook"><img src="images/fb-lightl.png" alt="getawey" /> {{'signup.Sign_Up_with_Facebook' | translate}}</a></span>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-default mt-top10">{{'home.Sign_Up' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>