<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Edit Attraction
        </h1>
    </div>
</div>
<!-- /.row -->
<form role="form" ng-submit="updateAttraction()" name="EditAttractionForm" novalidate>
    <div class="form-group">
        <label for="name">Name *:</label>
        <input type="text" class="form-control" ng-model="attraction.name" id="name" placeholder="Attraction Name" name='name' tabindex="1" required autofocus>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.name || EditAttractionForm.name.$touched && EditAttractionForm.name.$error.required">Required!</span>
    </div>
    <div class="form-group">
        <label for="description">Description :</label>
        <textarea class="form-control" ng-model="attraction.description" id="description" placeholder="Attraction Description" name='description' tabindex="2" autofocus> </textarea>
    </div>
    <div class="form-group">
        <label for="category">Category *:</label>
        <select class="form-control" ng-model="attraction.category" id="category" name='category' tabindex="3" autofocus ng-options="value.title for value in categories track by value.name" required autofocus>
            <option value="">--Select Category--</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.category || EditAttractionForm.category.$touched && EditAttractionForm.category.$error.required">Required!</span>
    </div>
<!--     <div class="form-group">
        <label for="rating">Rating :</label>
        <select class="form-control" ng-model="attraction.rating" id="rating" name='rating' tabindex="4" autofocus ng-options="value for value in ratings" required autofocus>
            <option value="">--Select Rating -- </option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.rating || EditAttractionForm.rating.$touched && EditAttractionForm.rating.$error.required">Required!</span>
    </div> -->
    <div class="form-group">
        <label for="phone_no">Phone Number :</label>
        <input type="text" class="form-control" ng-model="attraction.phone_no" id="phone_no" placeholder="Phone Number" name='phone_no' tabindex="5">
    </div>
    <div class="form-group">
        <label for="city">City :</label>
        <select class="form-control" ng-model="attraction.city" id="city" name='city' ng-change="cityPlace(attraction.city)" tabindex="9" ng-options="value.city for value in destinations track by value._id" required autofocus>
            <option value="">--Select City--</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.city || EditAttractionForm.city.$touched && EditAttractionForm.city.$error.required">Required!</span>
    </div>
    <div class="form-group">
        <label for="address">Address :</label>
        <textarea class="form-control" ng-model="attraction.address" id="address" placeholder="Attraction Address" name='address' tabindex="8" required autofocus> </textarea>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.address || EditAttractionForm.address.$touched && EditAttractionForm.address.$error.required">Required!</span>
        <a href="" value="check" ng-click="checkaddress(attraction.address)">Get Location</a>
    </div>

    <div id="googleMap"></div>

    <div class="form-group">
        <label for="latitude">Latitude :</label>
        <input type="text" class="form-control" ng-model="attraction.latitude" id="latitude" placeholder="Latitude" name='latitude' tabindex="5" autofocus disabled>
    </div>
    <div class="form-group">
        <label for="longitude">Longitude :</label>
        <input type="text" class="form-control" ng-model="attraction.longitude" id="longitude" placeholder="Longitude" name='longitude' tabindex="6" autofocus disabled>
    </div>
<!--     <div class="form-group">
        <label for="language">language :</label>
        <select class="form-control" ng-model="attraction.language_code" ng-change="language_change()" id="language" name='language' tabindex="11" required autofocus>
            <option value="">--Select Language--</option>
            <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
        </select>
        <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.language || EditAttractionForm.language.$touched && EditAttractionForm.language.$error.required">Required!</span>
    </div> -->

    <div ng-if="attraction.id">
    <div class="form-group">
        <label for="yelp_full_url">Yelp Full Url :</label>
        <input type="text" class="form-control" ng-model="attraction.yelp_full_url" id="yelp_full_url" placeholder="Full Url From Yelp" name='yelp_full_url' tabindex="5" autofocus>
    </div>
    <div class="form-group">
        <label for="eat24_url">Eat 24 Url :</label>
        <input type="text" class="form-control" ng-model="attraction.eat24_url" id="eat24_url" placeholder="Eat 24 Url" name='eat24_url' tabindex="5" autofocus>
    </div>
    <div class="form-group">
        <label for="reservation_url">Reservation Url :</label>
        <input type="text" class="form-control" ng-model="attraction.reservation_url" id="reservation_url" placeholder="Reservation Url" name='reservation_url' tabindex="5" autofocus>
    </div>
    </div>

<!--     <div class="form-group">
        <label for="review_count">Review Counts :</label>
        <input type="number" class="form-control" ng-model="attraction.review_count" id="review_count" placeholder="Review Count" name='review_count' tabindex="5" autofocus>
    </div> -->
    <!-- Image Field-->
    <div class="form-group">
        <label for="image_url">Attraction Image *:</label>
        <input type="file" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' multiple tabindex="12" name="temp_file" ngf-pattern="'image/*'">
        <!--         <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.image_url || EditAttractionForm.temp_file.$touched && EditAttractionForm.temp_file.$error.required">Required!</span> -->
    </div>

                <span ng-if="attraction.image_url.length > 0" ng-repeat="images in attraction.image_url">
                  <img style="width: 100px; height: 100px;" ng-src={{images}}>
                  <i class="fa fa-times fa_times" style="cursor: pointer;" aria-hidden="true" ng-click="removeImage($index)"></i>
                </span>

<!--     <div class="form-group">
        <img height="200" src="{{attraction.image_url}}" ng-show="attraction.image_url && !temp_file">
    </div> -->
    <div class="form-group">
        <label for="is_claimed">Claimed :</label>
        <input type="checkbox" name="is_claimed" id="is_claimed" ng-model="attraction.is_claimed" tabindex="13" autofocus>
    </div>
    <div class="form-group">
        <label for="is_closed">Closed :</label>
        <input type="checkbox" name="is_closed" id="is_closed" ng-model="attraction.is_closed" tabindex="12" autofocus>
    </div>

<!--     <div class="form-group">
        <label for="is_always_open">Always Open :</label>
        <input type="checkbox" ng-change="alwaysopencheckbox()" name="is_always_open" id="is_always_open" ng-model="attraction.is_always_open" tabindex="13" autofocus>
    </div>  -->  

    <div class="form-group">
        <label for="is_always_open">Timings :</label>
        <input type="radio" ng-change="alwaysopen()" name="time" id="is_always_open" value=true ng-model="attraction.is_always_open" tabindex="13" autofocus>Always open
        <input type="radio" ng-change="alwaysopen()" name="time" id="custom_timing" value=false ng-model="attraction.is_always_open" tabindex="13" autofocus>Add Custom Timing       
    </div>      

    <div ng-if="attraction.is_always_open == 'false'">
    <div class="form-group" ng-repeat="timings in timing track by $index">
        Timings :-
            <select ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" tabindex="14">
                <option value="">--Select Days--</option>
            </select>
            Opening Time :
            <input type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentiming"></input>
            Closing Time :
            <input type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetiming"></input>
            <button type="button" ng-click="removeopenclosetime($index)">Remove it</button>
    </div>
    <button type="button" ng-click="clickme()">Add New Timing</button>
    </div>

    <div class="form-group">
        <label for="publish">Approve :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="attraction.published" tabindex="13" autofocus>
    </div> 


<!-- <button type="button" ng-click="clickme()">Add More</button>
<div class="form-group add_days" ng-repeat="day in openclose">
    <label class="col-sm-3 control-label" for="day">Days :</label>
    <div class="col-sm-9">
        <select ng-model="days[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" tabindex="13">
            <option>Select Day</option>
        </select>
        Opening Time :
        <input type="time" name="opening_time" id="opening_time" ng-model="days[$index].opentime"></input>
        Closing Time :
        <input type="time" name="closing_time" id="closing_time" ng-model="days[$index].closetime"></input>
    </div>
</div> -->
<div class="form-group">

        <div class="col-xs-12 red" ng-show="error">{{error}}</div>
        <input type="submit" class="btn btn-primary" value="Save Form">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
