<main>
    <div class="container-editIt">
        <form novalidate>
            <div class="start-city mt-top30">
                <div class="date-select date-range">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.start_date" is-open="popup['trip_from'][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="{{'itinerary.Current_Date' | translate}}" name="start_date" ng-change="onDateChange()">
                    <i class="fa fa-calendar" aria-hidden="true" ng-click="open('trip_from' , 0)"></i>

                    <label class="pull-left" ng-init="itinerary.is_return = true"><input type="checkbox" ng-model="itinerary.is_return" > {{'itinerary.I_am_planning_to_return_here' | translate}} </label>
                </div>
                <div class="search-city">
                    <img class="city-pic"  ng-src="{{itinerary.trip_from.image}}" ng-if="itinerary.trip_from.image" ng-cloak>
                    <div class="select-city">
                        <select ng-change="startCityChange()" ng-model="itinerary.trip_from" ng-options="destination.city for destination in destinations track by destination.city">
                            <option value="">--{{'itinerary.Select_City_For_Starting' | translate}} -- </option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-repeat="destination in itinerary.trip_to">
                <div class="tourInfo">
                    <div class="tourInfo-inner bordered blue">
                        <div class="stats-dist clearfix">
                            <i class="fa fa-plane" aria-hidden="true"></i> 2300 Km | 10 Hrs
                            <a href="">{{'itinerary.Change' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="drag-item type-2">
                    <img class="dragItem-pic" ng-src="{{destination.destination.image}}" ng-if="destination.destination.image" ng-cloak>
                    <h4 ng-show="editingMode != $index">{{destination.destination.city}}</h4>
                    <select ng-show="editingMode == $index" ng-model="destination.destination" ng-options="destination.city for destination in destinations track by destination.city"></select>
                    <div class="stay-from">
                        <label>{{'itinerary.Stay_From' | translate}}</label>
                        <span>{{itinerary.trip_to[$index].start_date  | date :  "dd MMM y"}}</span>
                        <i class="fa fa-calendar" aria-hidden="true" ng-click="open($index ,0)"></i>
                        <!--<input type="text" class="form-control hide" uib-datepicker-popup="{{format}}" ng-model="itinerary.trip_to[$index].start_date" is-open="popup[$index][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="City's Start Date" name="start_date" ng-change="onDateChange()" disabled required> -->
                        <label>{{'itinerary.Till' | translate}}</label>
                        <span>{{itinerary.trip_to[$index].end_date  | date :  "dd MMM y"}}</span>
                        <i class="fa fa-calendar" aria-hidden="true" ng-click="open($index ,1)"></i>
                        <input type="text" class="form-control hidden" uib-datepicker-popup="{{format}}" ng-model="itinerary.trip_to[$index].end_date" is-open="popup[$index][1]" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="end_date" class="form-control" placeholder="{{'itinerary.City_End_Date' | translate}}" ng-change="onDateChange()" required>
                    </div>
                    <div class="edit-delete">
                        <a ng-click="removeCity($index)"><i class="fa fa-times-circle"></i></a>
                    </div>
                </div>
            </div>

            <div class="text-right mt-top10 add-moreCities" ng-if="itinerary.trip_to.length > 0">
                <button type="button" class="btn btn-primary" ng-click="addTripToCity()"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{'itinerary.Add_More_Cities' | translate}}</button>
                <select ng-model="addCity.new_city" ng-options="destination.city for destination in trip_to_destinations track by destination.city">
                    <option value="">--{{'itinerary.Select_Destination' | translate}} -- </option>
                </select>
            </div>
            <div class="enter-dest mt-top30 mt-Bottom30" ng-if="itinerary.trip_to.length == 0">
                <h4>{{'itinerary.Where_do_you_want_to_go' | translate}} ?</h4>
                <div class="toRelative">
                    <input type="text" placeholder="{{'itinerary.Enter_Destination' | translate}}" disabled="true" ng-if="!itinerary.start_date || !itinerary.trip_from.city">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>

                    <tags-input type="text" ng-if="itinerary.start_date && itinerary.trip_from.city" ng-model="addCity.new_city" display-property="city" add-from-autocomplete-only="true" ng-required="true" placeholder="{{'itinerary.Enter_Destination' | translate}}" on-tag-added="hideTagInput($tag)" max-tags="1" min-tags="1" required>
                        <auto-complete load-on-focus="true" min-length="1" source="getDestinationsData($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="start-city mt-top30 mt-Bottom30 hide">
                <div class="date-select date-range">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itinerary.start_date" is-open="popup['trip_from'][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="{{'itinerary.Current_Date' | translate}}" name="start_date" ng-change="onDateChange()">
                    <i class="fa fa-calendar" aria-hidden="true" ng-click="open('trip_from' , 0)"></i>
                </div>
                <div class="search-city">
                    <img class="city-pic" ng-src="{{itinerary.trip_from.image}}" ng-if="itinerary.trip_from.image" ng-cloak>
                    <div class="select-city">
                        <select ng-show="editingMode == 'trip_from'" ng-model="itinerary.trip_from" ng-options="destination.city for destination in destinations track by destination.city"></select>
                    </div>
                </div>
            </div>
            <div class="start-city mt-top30 mt-Bottom30" ng-if="itinerary.is_return && itinerary.start_date && itinerary.trip_from.city">
              <div class="date-select date-range">
                    <input type="text" value="{{itinerary.end_date | date :  'dd MMM y'}}"   disabled='true'>
                    <i class="fa fa-calendar" aria-hidden="true"  disabled='true'></i>
                </div>
                <div class="search-city">
                    <img class="city-pic" ng-src="{{itinerary.trip_from.image}}" ng-if="itinerary.trip_from.image" ng-cloak>
                    <div class="select-city">
                        <select disabled='true' ng-model="itinerary.trip_from" ng-options="destination.city for destination in destinations track by destination.city"></select>
                    </div>
                </div>
            </div>

            <div class="text-right mt-top10 add-moreCities" ng-show="itinerary.start_date && itinerary.trip_from.city">
              <button class="btn btn-primary" ng-show="itinerary.trip_to.length > 0" ng-click="letMePlan()">{{'home.Let_Me_Plan' | translate}}</button>
            </div>
        </form>
    </div>
</main>
