<main>
    <!-- ................  banner - index page .........................  -->
    <div class="banner-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <h4 class="foot-heading">Paris and Berlin Tour</h4> -->
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  tour plan details block ......................................................... -->
    <div class="main-content-margin mt-Bottom30">
        <!-- ..............  attraction search list ............................. -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="global-bgColor clearfix" ng-submit="updateAttraction()" name="EditAttractionForm" novalidate>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'create.Name' | translate}}</label>
                                <input type="text" class="form-control" name="name" placeholder="{{'create.Name_of_Attraction' | translate}}" ng-model="attraction.name" required>
                                <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.name || EditAttractionForm.name.$touched && EditAttractionForm.name.$error.required">{{'create.name_is_required' | translate}}!</span>
                            </div>
                            <div class="form-group">
                                <label>{{'create.About_Attraction' | translate}}</label>
                                <textarea class="form-control descriptionBox" name="description" placeholder="{{'create.Description_Here' | translate}}" ng-model="attraction.description" required></textarea>
                                <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.description || EditAttractionForm.description.$touched && EditAttractionForm.description.$error.required">{{'create.description_is_required' | translate}}!</span>
                            </div>
                            <div class="form-group">
                                <label>{{'create.Phone_Number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'create.Phone_Number' | translate}}" ng-model="attraction.phone_no">
                            </div>
                            <div class="form-group">
                                <label>{{'create.Categories' | translate}}</label>
                                <select class="form-control" ng-model="attraction.category" ng-options="value.title for value in categories track by value.name" name='category' required>
                                    <option value="">--{{'create.Select_Category' | translate}}--</option>
                                </select>
                                <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.category || EditAttractionForm.category.$touched && EditAttractionForm.category.$error.required">{{'create.Category_is_required' | translate}}!</span>
                            </div>
                            <div class="form-group">
                                <label>{{'create.City' | translate}}</label>
                                <select class="form-control" ng-model="attraction.city" ng-change="cityPlace(attraction.city)" ng-options="value.city for value in destinations track by value._id" name='city' required>
                                    <option value="">--{{'home.Select_City' | translate}}--</option>
                                </select>
                                <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.city || EditAttractionForm.city.$touched && EditAttractionForm.city.$error.required">{{'create.city_is_required' | translate}}!</span>
                            </div>
                            <div class="form-group global-bgColor">
                                <label>{{'create.Timings' | translate}}</label>
                            </div>
                            <div class="radio noMargin pull-left col-sm-6">
                                <label>
                                    <input type="radio" name="time" id="is_always_open" value=true ng-change="alwaysopen()" ng-model="attraction.is_always_open"> {{'create.Always_Open' | translate}}
                                </label>
                            </div>
                            <div class="radio noMargin pull-left">
                                <label>
                                    <input type="radio" name="time" id="custom_timing" value=false ng-change="alwaysopen()" ng-model="attraction.is_always_open"> {{'create.Add_Custom_Timings' | translate}}
                                </label>
                            </div>
                            <div class="row" ng-if="attraction.is_always_open == 'false'">
                                <button class="btn btn-primary margin30" type="button" ng-click="clickme()" tabindex="13">{{'create.Add_Timing' | translate}}</button>
                                <div class="row add_days timingdiv" ng-repeat="timings in timing track by $index">
                                    <div class="form-group pull-left day">
                                        <label>Day</label>
                                        <select class="dayHeight" name='day' ng-model="timing[$index].day" id="day" name='day' ng-options="k as v for (k,v) in allDays" required ng-class="CreateAttractionForm.day.$touched && CreateAttractionForm.day.$error.required ? 'error' : ''">
                                            <option>Select Days</option>
                                        </select>
                                        <span class="errormsg" ng-show="count && CreateAttractionForm.day.$error.required">day is required.</span>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Opening Time</label>
                                        <input class="form-control" type="time" name="opening_time" id="opening_time" ng-model="timing[$index].opentiming" required ng-class="CreateAttractionForm.opening_time.$touched && CreateAttractionForm.opening_time.$error.required ? 'error' : ''">
                                        <span class="errormsg" ng-show="count && CreateAttractionForm.opening_time.$error.time">Incorrect Time.</span>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Closing Time</label>
                                        <input class="form-control" type="time" name="closing_time" id="closing_time" ng-model="timing[$index].closetiming" required ng-class="CreateAttractionForm.closing_time.$touched && CreateAttractionForm.closing_time.$error.required ? 'error' : ''">
                                        <span class="errormsg" ng-show="count && CreateAttractionForm.closing_time.$error.time">Incorrect Time.</span>
                                    </div>
                                    <a ng-click="removeopenclosetime($index)"><i class="fa fa-times fa_times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-whiteBox">
                                <div class="form-group">
                                    <label>{{'create.Address' | translate}}</label>
                                    <textarea class="form-control" placeholder="{{'create.Attraction_Address' | translate}}" ng-model="attraction.address" name='address' required></textarea>
                                    <span class="error help-block col-xs-12 red" ng-show="submitted && !attraction.address || EditAttractionForm.address.$touched && EditAttractionForm.address.$error.required">{{'create.address_is_required' | translate}}!</span>
                                </div>
                                <div class="map-view">
                                    <div class="text-right">
                                        <a href="" value="current" ng-click="current()">{{'create.My_Location' | translate}}</a>
                                        <a href="" value="check" ng-click="checkaddress(attraction.address)">{{'create.Get_Location' | translate}}</a>
                                    </div>
                                    <!-- <div><img src="images/map.jpg" alt="" /></div> -->
                                </div>
                                <div id="googleMap"></div>
                                <div class="clearfix mt-top10">
                                    <div class="pull-left">
                                        <label class="lable-marRight">{{'create.Longitude' | translate}}</label>
                                        <input type="text" class="coords" ng-model="attraction.longitude" disabled>
                                    </div>
                                    <div class="pull-right">
                                        <label class="lable-marRight">{{'create.Latitude' | translate}}</label>
                                        <input type="text" class="coords" ng-model="attraction.latitude" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-top30">
                                <label>{{'create.Upload_Images' | translate}}</label>
                                <div class="form-whiteBox">
                                    <div class="btn btn-primary" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' ngf-multiple="true" ngf-pattern="'image/*'" name="temp_file">{{'create.Browse_From_Drive' | translate}}</div>
                                    <span ng-if="temp_file.length > 1">{{temp_file.length}} files selected</span>
                                    <span ng-if="temp_file.length == 1">{{temp_file.length}} file selected</span>
                                </div>
                            </div>
                            <span ng-if="attraction.image_url.length > 0" ng-repeat="images in attraction.image_url">
                            <img class="thumbnailImg" ng-src={{images}}>
                            <i class="fa fa-times" style="cursor: pointer;" aria-hidden="true" ng-click="removeImage($index)"></i>
                            </span>
                            <div> </div>
                            <div class="form-group global-bgColor mt-top30">
                                <label>{{'edit.Closed' | translate}} :</label>
                                <label>
                                    <input type="checkbox" name="is_closed" id="is_closed" ng-model="attraction.is_closed" tabindex="12">
                                </label>
                            </div>
                            <div class="text-center mt-top30"><img class="compass" src="images/compass.jpg" alt="compass" /></div>
                        </div>
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary" value="{{'edit.Update_Attraction' | translate}}">
                            <button class="btn btn-default" ng-click="cancel()">{{'profile.Cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
