<!-- .................  user cover image section .................. -->
<div class="userCover-img">

  
   <img ng-src="{{user.timeline_image ? user.timeline_image : '/images/User-Profile_Banner.jpg'}}" class="fullimage h500">

   
 <a class="btn btn-default" ui-sref="index.editprofile" ng-click="changeState('timeline')" href="#/profile/edit"><i class="fa fa-camera"></i>  {{'profile.Edit' | translate}}</a>

    <div class="userCover-toBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="userProfile-picPadding">
                        <div class="userProfile-pic">
                            <img ng-src="{{user.image ? user.image : '/images/default_user.png'}}" class="fullimage" alt="hello">
                            <a class="btn btn-default" ui-sref="index.editprofile" ng-click="changeState('image')"><i class="fa fa-camera"></i>  {{'profile.Edit' | translate}}</a>
                        </div>
                    </div>
                    <span class="userName-cover">{{user.profile_fields.first_name}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..................................  main page content starts ..............................  -->
<main class="mt-top100">
    <div class="container-fluid">
        <div class="row">
            <!-- .........................  3 column layout - left side bar ...................  -->
            <div class="col-sm-3">
                <div class="block-shadow">
                    <h3 class="blockShadow-head">

                            {{'profile.About' | translate}}
                            <a ui-sref="index.editprofile" class="font-lightColor" ng-click="changeState('profile')"> {{'profile.Edit' | translate}}</a>
                        </h3>
                    <ul class="list-abouts">
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <div>
                                <span>{{user.local.email}}</span>
                            </div>
                        </li>
                        <li ng-if="user.profile_fields.ph_no">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div>
                                <span>{{user.profile_fields.ph_no}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .........................  3 column layout - main content ...................  -->
            <div class="col-sm-6">
                <div class="block-shadow">
                    <div class="blockShadow-head">
                        <ul class="postComment-actionList clearfix">
                            <li>
                                <a ui-sref="index.createJournal">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i> {{'home.Create_Journal' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ui-sref="index.createAttraction">
                                    <i class="fa fa-camera-retro" aria-hidden="true"></i>{{'home.Create_Attraction' | translate}}
                                </a>
                            </li>
                            <li>
                                <a ui-sref="index.createItineraryDays">
                                    <i class="fa fa-flag" aria-hidden="true"></i>{{'home.Create_Itinerary' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="posts mt-top30">
                    <div class="block-shadow mt-Bottom30">
                        <h3 class="blockShadow-head">{{'create.Itineraries' | translate}}</h3>
                        <div class="profileDiv col-xs-12 nopadding">
                            <button class="btn btn-primary col-xs-4" ng-click="changeType('itineraries','created')">{{'profile.Created' | translate}}</button>
                            <button class="btn btn-primary col-xs-5" ng-click="changeType('itineraries','bookmarked')">{{'profile.Bookmarked' | translate}}</button>
                            <button class="btn btn-primary col-xs-3" ng-click="changeType('itineraries','draft')">{{'profile.Draft' | translate}}</button>
                        </div>
                        <div class="blockShadow-head clearfix col-xs-12" ng-repeat="itinerary in itineraries[tabs.itineraries].data">
                            <a ui-sref="index.ItineraryView({id: itinerary._id ,machine_name : itinerary.machine_name})">
                                <img class="post-update-img pull-left col-xs-4" ng-src="{{itinerary.image ? itinerary.image : itinerary.yelp_image_url}}">
                                <div class="post-textarea-wrap pull-left col-xs-8">
                                    <div><b>{{itinerary.title}}</b></div>
                                    <div><i class="fa fa-clock-o" aria-hidden="true"></i> {{itinerary.start_date | date : "dd MMM y"}} - <i class="fa fa-clock-o" aria-hidden="true"></i> {{itinerary.end_date | date : "dd MMM y"}} </div>
                                    <div>
                                        <span ng-repeat="destination in itinerary.trip_to">{{destination.destination.city}}</span>
                                    </div>
                                    <div>By : {{itinerary.created_by.profile_fields.first_name}}</div>
                                    <!-- {{loggedUser.bookmark_itinerary.indexOf(itinerary._id)}} -->
                                </div>
                            </a>
                            <button type="button" ng-if="tabs.itineraries == 'bookmarked' &&loggedInUser.bookmark_itinerary.indexOf(itinerary._id) > -1" ng-click="cancelBookmarkItinerary(itinerary._id)">cancel bookmark</button>
                        </div>
                        <div ng-if="itineraries[tabs.itineraries].data.length == 0 && itineraries[tabs.itineraries].page ==1">No Data Found</div>
                        <div class="anhor-padding blockShadow-head text-center" ng-hide=" itineraries[tabs.itineraries].page ==1 && itineraries[tabs.itineraries].data.length <5 ">
                            <button class="btn btn-primary" ng-click="prevItineraries()" ng-disabled="itineraries[tabs.itineraries].page ==1"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev</button>
                            <span>{{itineraries[tabs.itineraries].page}}</span>
                            <button class="btn btn-primary" ng-click="nextItineraries()" ng-disabled="itineraries[tabs.itineraries].data.length <5 || itineraries[tabs.itineraries].count <=  itineraries[tabs.itineraries].skip+5 ">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .........................  3 column layout - Right side bar ...................  -->
            <div class="col-sm-3">
                <div class="block-shadow margin-btm15">
                    <h3 class="blockShadow-head">{{'profile.Journals' | translate}}</h3>
                    <div class="profileDiv col-xs-12 nopadding">
                        <button class="btn btn-primary col-xs-4" ng-click="changeType('journals','created')">{{'profile.Created' | translate}}</button>
                        <button class="btn btn-primary col-xs-5" ng-click="changeType('journals','bookmarked')">{{'profile.Bookmarked' | translate}}</button>
                        <button class="btn btn-primary col-xs-3" ng-click="changeType('journals','draft')">{{'profile.Draft' | translate}}</button>
                    </div>
                    <div class="destination-wrap" ng-repeat="journal in journals[tabs.journals].data">
                        <a ui-sref="index.singleJournal({id : journal._id})">
                            <img class="destination-img" ng-src="{{journal.image_url}}">
                            <h3 class="journy-head ng-binding">{{journal.title}}
                            </h3>
                        </a>
                        <button class="btn btn-primary" type="button" ng-if="tabs.journals == 'bookmarked' &&loggedInUser.bookmark_journal.indexOf(journal._id) > -1" ng-click="cancelBookmarkJournal(journal._id)">cancel bookmark</button>
                        <div class="row tag-kwd red">
                            <div class="col-xs-6 profile_sidebar">
                                <a class="ng-binding"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{journal.destinations.city}} </a>
                            </div>
                            <div class="col-xs-6 profile_sidebar">
                                <a class="ng-binding"><i  class="fa fa fa-tag" aria-hidden="true"></i> {{journal.tags[0].name}} </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="journals[tabs.journals].data.length == 0 && journals[tabs.journals].page ==1">No Data Found</div>
                    <div class="anhor-padding blockShadow-head text-center" ng-hide=" journals[tabs.journals].page ==1 && journals[tabs.journals].data.length <3 ">
                        <button class="btn btn-primary" ng-click="prevJournals()" ng-disabled="journals[tabs.journals].page ==1"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev</button>
                        <span>{{journals[tabs.journals].page}}</span>
                        <button class="btn btn-primary" ng-click="nextJournals()" ng-disabled="journals[tabs.journals].data.length <3 || journals[tabs.journals].count <=  journals[tabs.journals].skip+3 ">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="block-shadow margin-btm15">
                    <h3 class="blockShadow-head">{{'city.attractions' | translate}}</h3>
                    <div class="profileDiv col-xs-12 nopadding">
                        <button class="btn btn-primary col-xs-4" ng-click="changeType('attractions','created')">{{'profile.Created' | translate}}</button>
                        <button class="btn btn-primary col-xs-5" ng-click="changeType('attractions','bookmarked')">{{'profile.Bookmarked' | translate}}</button>
                        <button class="btn btn-primary col-xs-3" ng-click="changeType('attractions','draft')">{{'profile.Draft' | translate}}</button>
                    </div>
                    <div class="destination-wrap" ng-repeat="attraction in  attractions[tabs.attractions].data">
                        <a ui-sref="index.singleAttraction({id : attraction._id})">
                            <img class="destination-img" ng-src="{{attraction.image_url[0]}}">
                            <h3 class="journy-head ng-binding">{{attraction.name}}</h3>
                        </a>
                        <button class="btn btn-primary" type="button" ng-if="tabs.attractions == 'bookmarked' &&loggedInUser.bookmark_attraction.indexOf(attraction._id) > -1" ng-click="cancelBookmarkAttraction(attraction._id)">cancel bookmark</button>
                        <div class="row tag-kwd red">
                            <div class="col-xs-6 profile_sidebar">
                                <a class="ng-binding"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{attraction.city.city}} </a>
                            </div>
                            <div class="col-xs-6 profile_sidebar">
                                <a class="ng-binding"><i  class="fa fa fa-tag" aria-hidden="true"></i> {{attraction.category.name}} </a>
                            </div>
                        </div>
                    </div>

                    <div ng-if="attractions[tabs.attractions].data.length == 0 && attractions[tabs.attractions].page ==1">No Data Found</div>
                    <div class="anhor-padding blockShadow-head text-center" ng-hide=" attractions[tabs.attractions].page ==1 && attractions[tabs.attractions].data.length <3 ">
                        <button class="btn btn-primary" ng-click="prevAttractions()" ng-disabled="attractions[tabs.attractions].page ==1"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev</button>
                        <span>{{attractions[tabs.attractions].page}}</span>
                        <button class="btn btn-primary" ng-click="nextAttractions()" ng-disabled="attractions[tabs.attractions].data.length <3 || attractions[tabs.attractions].count <=  attractions[tabs.attractions].skip+3 ">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
