<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Journals
        </h1>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Search Journal</h3>
    </div>
    <div class="panel-body">
    <div class="col-xs-10">
      <form ng-submit="searchJournal()" class="form-inline">
        <input class="form-control" type="text" ng-model="journal.title" placeholder="Search by Title">
<!--         <input class="form-control" type="text" ng-model="journal.publish" placeholder="Search by Publish">  -->
        
        <select  class="form-control" ng-model="filter.publish" >
          <option value="">Search By Publish</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>

        <select  class="form-control" ng-model="filter.featured" >
          <option value="">Search By Featured</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>

        <input class="form-control" type="text" ng-model="filter.language" placeholder="Search by Language">
        <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
          <button type="button" class="btn btn-sm btn-primary" ng-click="disableFilter()">Reset</button>
       </form>
    </div>
      <div class="col-xs-2">
        <a class="btn btn-info pull-right" ui-sref="admin.journalsCreate">Create Journal</a>
        
      </div>
    </div>
</div>

<div ui-grid="journalsGrid" class="myGrid" external-scopes="clickHandler"></div>

<div class="text-right tm10">
  <div class="col-xs-3 col-xs-offset-6 tm5">
    <p>Current page: {{ currentpage}} of {{ getTotalPagesCount }}</p>
  </div>
  <div class="col-xs-3 ">
    <button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
    <button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
  </div>
</div>

<!-- 
<p>Current page: {{ getPage() }} of {{ getTotalPages() }}</p>
<button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
<button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
 -->