<main>
    <!-- ................  banner - index page .........................  -->
    <div class="banner-index tourPage">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="foot-heading">{{itinerary.trip_from.city}} TO {{itinerary.trip_to[itinerary.trip_to.length -1].destination.city}} Tour</h4>
                    <!--                         <h5>the best of the mediterranium</h5> -->
                </div>
            </div>
            <div class="row tour-slide-banner">
                <div class="col-sm-12">
                    <div class="toBg">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tour-summry clearfix">
                                    <h3>
                                            <span>{{itinerary.title}}</span>
                                            <span>{{itinerary.start_date | date :  "dd MMM y"}} -{{itinerary.end_date | date :  "dd MMM y"}}</span>
                                        </h3>
                                    <!-- <button ng-click="editDestinations()" class="btn btn-primary pull-right">{{!destinationsEditMode ? 'Edit Cities, Days and Date' : {{"itinerary.Done" | translate}} }}</button> -->
                                    <button ng-if="!destinationsEditMode" ng-click="editDestinations()" class="btn btn-primary pull-right">{{"itinerary.Edit_Cities" | translate}},{{"itinerary.Days_and_Date" | translate}}</button>
                                    <button ng-if="destinationsEditMode" ng-click="editDestinations()" class="btn btn-primary pull-right">{{"itinerary.Done" | translate}}</button>
                                </div>
                                <!-- {{!destinationsEditMode ? '{{"itinerary.Edit_Cities,_Days_and_Date" | translate}}' : '{{"itinerary.Done" | translate}}' }} -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tourSlide-region">
                                    <div class="updateme" ng-if="ctrl.ready">
                                        <slick infinite=false slides-to-show=8 slides-to-scroll=8 ng-if="!ishidden" nextArrow="iamnext" >
                                            <div>
                                                <h5>{{itinerary.trip_from.city}}</h5>
                                            </div>
                                            <div><i class="fa fa-plane" aria-hidden="true"></i></div>
                                            <div ng-repeat-start="destination in itinerary_trip_to_copy ">
                                                <span class="pointer pull-right" ng-if="destinationsEditMode">
                                                    <i class="fa fa-times-circle" aria-hidden="true" ng-click="removeCity($index)"></i>
                                                </span>

                                                <h5>{{destination.destination.city}}
                                                    <span  ng-show="!destinationsEditMode">{{stayDays(destination)}}</span>
                                                </h5>
                                                <div class="stay-from" ng-show="destinationsEditMode">
                                                <div>
                                                    <label>{{'itinerary.From' | translate}}</label>
                                                    <span>{{destination.start_date  | date :  "dd MMM y"}}</span>
                                                    <i class="fa fa-calendar" aria-hidden="true" ng-click="open($index ,0)"></i>
                                                </div>
                                                    <!--<input type="text" class="form-control hide" uib-datepicker-popup="{{format}}" ng-model="itinerary.trip_to[$index].start_date" is-open="popup[$index][0]" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" placeholder="City's Start Date" name="start_date" ng-change="onDateChange()" disabled required> -->
                                                <div>
                                                    <label>{{'itinerary.Till' | translate}}</label>
                                                    <span>{{destination.end_date  | date :  "dd MMM y"}}</span>
                                                    <i class="fa fa-calendar" aria-hidden="true" ng-click="open($index ,1)"></i>
                                                    <input type="text" class="form-control hidden" uib-datepicker-popup="{{format}}" ng-model="itinerary_trip_to_copy[$index].end_date" is-open="popup[$index][1]" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="end_date" class="form-control" placeholder="City End Date" ng-change="onDateChange()" required>
                                                </div>
                                                </div>
                                            </div>
                                            <div ng-repeat-end>
                                                <i ng-hide="itinerary.trip_to.length-1 == $index && !itinerary.is_return" class="fa fa-plane" aria-hidden="true"></i>
                                            </div>
                                            <div ng-if="itinerary.is_return">
                                                <h5>{{itinerary.trip_from.city}}</h5>
                                            </div>
                                        </slick>
                                        <div ng-show="destinationsEditMode" class="pull-right">
                                            <select ng-model="destination_slider.newDestination" ng-options="singleDestination.city for singleDestination in allDestinationsData" ng-change="newCityChange()">
                                                <option ng-repeat="city in allDestinations" value="{{city._id}}"> {{city.city}}</option>
                                            </select>
                                            <button class="btn btn-primary pull-right" ng-click='addNewDestinatton()'>{{'itinerary.Add' | translate}}</button>
                                        </div>
                                    </div>
                                    <!-- ............ place slider code here .......... -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="toBg-white clearfix" ng-if="!destinationsEditMode">
                        <div class="pull-left" ng-if="!showingMap">
                            <select ng-model="mapObj.mapday">
                                <option ng-repeat="(key, value) in itinerary.days" value="{{key}}">Day {{key}}</option>
                            </select>
                            <button ng-click="showMap()" class="btn btn-primary icon-map">{{'itinerary.Map_View' | translate}}</button>
                            <a class="btn btn-primary" ng-click="optimize()">{{'itinerary.Optimize' | translate}}</a>
                        </div>
                        <div class="pull-left" ng-if="showingMap">
                            <button ng-click="hideMap()" class="btn btn-primary icon-map">{{'itinerary.Planner_View' | translate}}</button>
                        </div>
                        <div class="pull-right" >
                            <a class="btn btn-primary" ng-if="!itinerary.isdeleted" ui-sref="index.ItineraryView({id:itinerary._id,machine_name : itinerary.machine_name})">{{'itinerary.View' | translate}}</a>
                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && !itinerary.published" ng-click="saveItinerary('draft')">{{'itinerary.Save' | translate}}</button>
                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && !itinerary.published" ng-click="saveItinerary('finish')">{{'itinerary.Finish_Planning' | translate}}</button>
                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted && itinerary.published " ng-click="saveItinerary('share')">{{'itinerary.Share' | translate}}</button>
                            <button class="btn btn-primary" ng-if="!itinerary.isdeleted" ng-click="saveItinerary('delete')">{{'itinerary.Delete' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  tour plan details block ......................................................... -->
    <div class="main-content-margin toHide-overflow" ng-if="showingMap" ng-class="showSidebar ? 'slide-done' : ''">
        <iframe class="col-xs-10 col-xs-offset-1 main-content-margin toHide-overflow" style="height:400px" ng-src="{{trustSrc(mapSrc)}}"></iframe>
    </div>
    <div class="main-content-margin toHide-overflow" ng-if="!showingMap" ng-class="showSidebar ? 'slide-done' : ''">
        <!-- ..............  attraction search list ............................. -->
        <div class="attractioList-wrap" ng-if="!destinationsEditMode">
            <button class="btn plus" ng-click="toggleSidebar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="attractioList-main">
                <div class="attractioList-head">
                    <h3>{{'itinerary.Add_Places' | translate}}: <span>{{'itinerary.Drag_and_Drop' | translate}}</span></h3></div>
                <div class="attractioList-content">
                    <div class="att-padding place-sel">                        
                    <select ng-change="searchAttractions()" ng-model="search.filter.city">
                            <option ng-repeat="city in destinations" value="{{city._id}}"> {{city.city}}</option>
                        </select>
                    </div>
                    <div class="att-padding">
                        <h4 class="attHead-sec">{{'city.attractions' | translate}}</h4>
                        <div class="toBorder">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li ng-class="searchCategory == 'search' ? 'active' : ''" ng-click="searchCategorySwitch('search')"><a class="pointer">{{'itinerary.Search' | translate}}</a></li>
                                <li ng-class="searchCategory == 'category' ? 'active' : ''" ng-click="searchCategorySwitch('category')"><a class="pointer">{{'itinerary.Category' | translate}}</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- ...............   tab content one ....................  -->
                                <div role="tabpanel" class="tab-pane active" id="search">
                                    <div class="serach-places att-padding" ng-show="searchCategory == 'search'">
                                        <form ng-submit="searchAttractions('by-name')">
                                            <input type="text" placeholder="Search" ng-model="search.name">
                                        </form>
                                    </div>
                                    <div class="serach-places att-padding place-sel" ng-show="searchCategory == 'category'">
                                        <select ng-change="searchAttractions('by-category')" ng-model="search.filter.category">
                                            <option value="">--{{'create.Select_Category' | translate}}--</option>
                                            <option ng-repeat="category in categories" value="{{category._id}}"> {{category.title}}</option>
                                        </select>
                                    </div>
                                    <div class="att-list">
                                        <ul dnd-drop="dropCallback(event, index, item, external, type, 'itemType','search');" dnd-list="attractions">
                                            <li ng-repeat="attraction in attractions" dnd-draggable="attraction" dnd-effect-allowed="copy">
                                                <div class="att-places">

                                                    <img class="att-placesPic" ng-src="{{attraction.yelp_image_url ? attraction.yelp_image_url  : attraction.image_url[0] }}" ng-cloak />

                                                    <h4>{{attraction.name}}</h4>
                                                    <a ui-sref="index.singleAttraction({id : attraction._id})"><i class="fa fa-info" aria-hidden="true"></i>  {{'itinerary.Info' | translate}}</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="disabled_working" ng-if="destinationsEditMode"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tourPlan-wrap">
                        <div class="clearfix">
                            <button class="it-next pull-right" ng-click="move(+1)" ng-show="slideron < total_days">{{'itinerary.Next' | translate}}</button>
                            <button class="it-prev pull-left" ng-click="move(-1)" ng-show="slideron > 1">{{'itinerary.previous' | translate}}</button>
                        </div>
                        <div class="tour-plan-main row">
                            <!-- Repeat days-->
                            <div class="col-sm-4" style="min-height:500px" ng-repeat="(key,day) in itinerary.days" ng-hide="key < slideron || slideron +2 < key">
                                <div class="tourPlan-header" ng-class-odd="'black'" ng-class-even="'blue'">
                                    <h3 ng-click="getDaysAttribute()">{{'create.Day' | translate}} {{key}} <span>{{days_dates[$index].date | date :  "dd MMM y" }}</span></h3>
                                    <h5><span>{{days_dates[$index].end_location}}</span></h5>
                                    <a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </div>
                                <!--Repeat attractions inside drag drop ul-->
                                <ul dnd-list="day" dnd-drop="dropCallback(event, index, item, external, type, 'itemType',key);" dnd-inserted="calulateTime(key);" class="tour-plan-main">
                                    <li ng-repeat="attraction in day" ng-class="!attraction.next_distance.text ? 'day_last_item': '' ">
                                        <!--attraction day.splice($index,1)-->
                                        <div dnd-draggable="attraction" dnd-effect-allowed="move" dnd-moved="day.splice(index,1)" dnd-dragstart="dragChange('start',key)" dnd-dragend="dragChange('end',key)">
                                            <!-- dnd-canceled="day.splice($index,1);calulateTime(key);" -->
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" ng-click="showTimepicker('start',$index,key)" type="button">{{attraction.start_time | date:'shortTime' }} <span class="caret"></span></button>
                                                <div class="timepicker" ng-show="timepicker_view=='start'+$index+key">
                                                    <uib-timepicker ng-model="attraction.start_time" hour-step="hstep" minute-step="mstep" show-meridian="true">
                                                    </uib-timepicker>
                                                    <div class="text-center">
                                                        <button ng-click="calulateTime(key);hideTimepicker()" type="button" class="btn btn-primary">{{'itinerary.Set' | translate}}</button>
                                                        <button type="button" ng-click="hideTimepicker()" class="btn btn-default">{{'profile.Cancel' | translate}}</button>
                                                    </div>
                                                </div>
                                                <span class="remove-it pull-right">
                                                    <i class="fa fa-times-circle" aria-hidden="true" ng-click="removeAttraction(key,$index)"></i>
                                                </span>
                                            </div>
                                            <div class="drag-item type-2">

                                                <img ng-src="{{attraction.yelp_image_url ? attraction.yelp_image_url  : attraction.image_url }}" class="dragItem-pic" ng-cloak />
                                                <h4>{{attraction.name}}</h4>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" ng-click="showTimepicker('stay',$index,key)" type="button"> {{attraction.stay_time | date:'HH:mm' }} hrs <span class="caret"></span></button>
                                                    <div class="timepicker" ng-show="timepicker_view == 'stay'+$index+key">
                                                        <uib-timepicker ng-model="attraction.stay_time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false">
                                                        </uib-timepicker>
                                                        <div class="text-center">
                                                            <button type="button" ng-click="calulateTime(key);hideTimepicker()" class="btn btn-primary">{{'itinerary.Set' | translate}}</button>
                                                            <button type="button" ng-click="hideTimepicker()" class="btn btn-default">{{'profile.Cancel' | translate}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourInfo" ng-if="attraction.next_distance.text">
                                            <div class="tourInfo-inner bordered " ng-class="key % 2 == 0 ? 'blue':'yellow'">
                                                <div class="stats-dist clearfix">
                                                    <i class="fa fa-taxi" ng-if="attraction.next_travel_mode.toLowerCase() == 'driving'" aria-hidden="true"></i>
                                                    <i class="fa fa-male" ng-if="attraction.next_travel_mode.toLowerCase() == 'walking'" aria-hidden="true"></i>
                                                    <i class="fa fa-bicycle" ng-if="attraction.next_travel_mode.toLowerCase() == 'bicycling'" aria-hidden="true"></i> {{attraction.next_distance.text}} | {{attraction.next_duration.text}}
                                                    <a class="pointer" ng-click="showDiffMode(key , $index)">{{'itinerary.Change' | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourInfo day-end" ng-if="!attraction.next_distance.text" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                            <div class="tourInfo-inner bordered" ng-class="key % 2 ==0 ? 'blue':'yellow'">
                                                <h4>{{'create.Day' | translate}} {{key}} {{'itinerary.End_at' | translate}} {{dayend(attraction)  | date:'shortTime'}}</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .........................................  popular destination block starts ......................................................... -->
</main>
<div class="updating_itinerary_days" ng-show="updating_itinerary_days"></div>
