<main>
    <div class="banner-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-margin mt-Bottom30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="global-bgColor clearfix" ng-submit="UpdateJournal()" name="editJournalForm" novalidate>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'create.Title' | translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'create.Journal_Title' | translate}}" name="title" ng-model="journal.title" tabindex="1" required ng-class="editJournalForm.title.$touched && editJournalForm.title.$error.required ? 'error' : ''">
                                <span class="errormsg" ng-show="count && editJournalForm.title.$error.required">{{'create.name_is_required' | translate}}.</span>
                            </div>
                            <div class="form-group">
                                <label>{{'create.About_Journal' | translate}}</label>
                                <textarea class="form-control descriptionBox" placeholder="{{'create.Journal_Description' | translate}}" name="description" ng-model="journal.description" tabindex="2" required ng-class="editJournalForm.description.$touched && editJournalForm.description.$error.required ? 'error' : ''"></textarea>
                                <span class="errormsg" ng-show="count && editJournalForm.description.$error.required">{{'create.description_is_required' | translate}}.</span>
                            </div>
                            <div class="form-group">
                                <label>{{'create.Tags' | translate}} *:</label>
                                <tags-input ng-model="journal.tags" placeholder="{{'create.Add_A_Tag' | translate}}" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3">
                                    <auto-complete source="getTags($query)" select-first-match="false" min-length="1"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group">
                                <label>{{'create.Language' | translate}} *:</label>
                                <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="4" required ng-class="editJournalForm.language.$touched && editJournalForm.language.$error.required ? 'error' : ''">
                                    <option value="">--{{'create.Select_Language' | translate}}--</option>
                                    <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>{{'create.City' | translate}} *:</label>
                                <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="5" ng-options="value.city for value in destinations track by value._id" required ng-class="editJournalForm.city.$touched && editJournalForm.city.$error.required ? 'error' : ''">
                                    <option value="">--{{'home.Select_City' | translate}}--</option>
                                </select>
                                <span class="errormsg" ng-show="count && editJournalForm.city.$error.required">{{'create.city_is_required' | translate}}.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'create.Itineraries' | translate}} :</label>
                                <tags-input ng-model="journal.itineraries" placeholder="{{'create.Add_itineraries' | translate}}" display-property="machine_name" min-length="3" max-tags="1" min-tags="0" add-from-autocomplete-only="true" tabindex="3">
                                    <auto-complete source="getItineraries($query)" select-first-match="false" min-length="1"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group">
                                <label>{{'create.Journal_Image' | translate}} *:</label>
                                <div class="form-whiteBox">
                                    <div class="btn btn-primary" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' ngf-pattern="'image/*'" name="temp_file">{{'create.Browse_From_Drive' | translate}}</div>
                                    <span ng-if="temp_file.length > 1">{{temp_file.length}} files selected</span>
                                    <span ng-if="temp_file.length == 1">{{temp_file.length}} file selected</span>
                                </div>
                            </div>
                            <span ng-if="journal.image_url">
                            <img class="thumbnailImg" ng-src={{journal.image_url}}>
                            <i class="fa fa-times" style="cursor: pointer;" aria-hidden="true" ng-click="removeImage()"></i>
                            </span>
                            <div class="text-center mt-top30"><img src="images/compass.jpg" alt="compass" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-9">
                                <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                <input type="submit" class="btn btn-primary" value="{{'edit.Update_Journal' | translate}}">
                                <button class="btn btn-default" ng-click="cancel()">{{'profile.Cancel' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
