    <!-- .................  user cover image section .................. -->
  <div class="userCover-img">

  <a class="btn btn-default" ui-sref="index.editprofile" ng-click="switchTab('timeline')" href="#/profile/edit"><i class="fa fa-camera"></i> {{'profile.Edit' | translate}}</a>
    <img ng-src="{{TimelineCropper.croppedImage ? TimelineCropper.croppedImage :  user.timeline_image ? user.timeline_image : '/images/User-Profile_Banner.jpg'}}" class="fullimage h500">
   

      <div class="userCover-toBottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="userProfile-picPadding">
                            <div class="userProfile-pic">
                                <img ng-src="{{ImageCropper.croppedImage ? ImageCropper.croppedImage : user.image ? user.image : '/images/default_user.png'}}" class="fullimage">
                                <a class="btn btn-default" ui-sref="index.editprofile" ng-click="switchTab('image')"><i class="fa fa-camera"></i> {{'profile.Edit' | translate}}</a>
                            </div>
                        </div>
                        <span class="userName-cover">{{user.profile_fields.first_name}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ..................................  main page content starts ..............................  -->
    <main class="mt-top30 mt-Bottom30">
        <div class="container profile-settings-page">
            <div class="page-header">
                <div class="title">
                    <h2>{{'profile.Profile_Settings' | translate}}</h2>
                </div>
            </div>
            <div class="form-horizontal">
                <ul class="nav nav-tabs">
                  <li class="pointer" ng-class="editProfileTab == 'profile' ? 'active' : ''" ng-click="switchTab('profile')"><a >{{'profile.Profile' | translate}}</a></li>
                  <li  class="pointer" ng-class="editProfileTab == 'password' ? 'active' : ''" ng-click="switchTab('password')"><a >{{'profile.Password' | translate}}</a></li>
                  <li class="pointer" ng-class="editProfileTab == 'image' ? 'active' : ''"  ng-click="switchTab('image')"><a >{{'profile.Image' | translate}}</a></li>
                  <li class="pointer" ng-class="editProfileTab == 'timeline' ? 'active' : ''"  ng-click="switchTab('timeline')"><a >{{'profile.Timeline' | translate}}</a></li>
                </ul>

                <div id="myTabContent" class="tab-content mt-top30">
                  <div id="home" ng-show="editProfileTab == 'profile'">
                     <form role="form" ng-submit="updateUser()" name="profileForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" >{{'profile.First_Name' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="{{'profile.First_Name' | translate}}" name="first_name" ng-model="user.profile_fields.first_name" required ng-class="profileForm.first_name.$touched && profileForm.first_name.$error.required ? 'error' : ''" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Last_Name' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="text"  ng-model="user.profile_fields.last_name" class="form-control" placeholder="{{'profile.Last_Name' | translate}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Email_Id' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="user.local.email" class="form-control" placeholder="test@sample.com" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Phone_Number' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="number" ng-model="user.profile_fields.ph_no" class="form-control" placeholder="{{'profile.Phone_Number' | translate}}" name="ph_no" ng-class="profileForm.ph_no.$touched && profileForm.ph_no.$error.number ? 'error' : ''">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                            <button class="btn btn-primary" type="submit">{{'profile.Update' | translate}}</button>
                                            <button class="btn btn-default" type="button" ng-click="cancel()">{{'profile.Cancel' | translate}}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                  <div ng-show="editProfileTab == 'password'">
                     <form role="form" ng-submit="changePassword()" name="passwordForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Old_Password' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.old_password"  name = "old_password" class="form-control" placeholder="{{'profile.Old_Password' | translate}}" ng-class="submitted && user.old_password || passwordForm.old_password.$touched && passwordForm.old_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.New_Password' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.new_password"  name = "new_password" class="form-control" placeholder="{{'profile.New_Password' | translate}}" ng-class="submitted && user.new_password || passwordForm.new_password.$touched && passwordForm.new_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Confirm_Password' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="user.confirm_new_password"  name = "confirm_new_password" class="form-control" placeholder="{{'profile.Confirm_Password' | translate}}" ng-class="submitted && user.confirm_new_password || passwordForm.confirm_new_password.$touched && passwordForm.confirm_new_password.$error.required ? 'error' : ''" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="col-xs-12 red nopadding" ng-show="password_error">{{password_error}}</div>
                                            <button class="btn btn-primary" type="submit">{{'profile.Update' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div ng-show="editProfileTab == 'image'">
                     <form role="form" ng-submit="saveImage()" name="imageForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Image' | translate}}:</label>
                                        <div class="col-sm-9">
                                            <input type="file" img-cropper-fileread image="ImageCropper.sourceImage" height="500" ngf-min-width="1300"/>

                                            <canvas width="500" height="300" id="canvas" image-cropper image="ImageCropper.sourceImage" cropped-image="ImageCropper.croppedImage" crop-width="300" crop-height="300" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds" min-height="200" ng-if="ImageCropper.sourceImage"></canvas>

                                            <img ng-cloak ng-src="{{user.image}}" ng-if="!ImageCropper.croppedImage && user.image" height="200" style="height:300px">

                                        </div>

                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <div class="col-xs-12 red nopadding" ng-show="imageError">{{imageError}}</div>
                                                <button class="btn btn-primary" type="submit">{{'profile.Update' | translate}}</button>

                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>

                  <div ng-show="editProfileTab == 'timeline'">
   
                     <form role="form" ng-submit="saveTimelineImage()" name="imageTimelineForm" novalidate>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="hasMax-width">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'profile.Image' | translate}}:</label>
                                        <div class="col-sm-9">

                                              <input type="file" img-cropper-fileread image="TimelineCropper.sourceImage" height="500" ngf-min-width="1300"/>

                                            <canvas width="500" height="300" id="canvas" image-cropper image="TimelineCropper.sourceImage" cropped-image="TimelineCropper.croppedImage" crop-width="1350" crop-height="500" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds" min-height="200" ng-if="TimelineCropper.sourceImage"></canvas>

                                            <img ng-cloak ng-src="{{user.timeline_image}}" ng-if="!TimelineCropper.croppedImage && user.timeline_image" height="200" style="height:300px">

                                        </div>

                                    </div>
                                    <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <div class="col-xs-12 red nopadding" ng-show="imageTimelineError">{{imageTimelineError}}</div>
                                                <button class="btn btn-primary" type="submit">{{'profile.Update' | translate}}</button>

                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>

              </div>
        </div>
    </main>
            
