
    <main>
        <!-- ................  banner - index page .........................  -->
        <div class="banner-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="foot-heading">{{'create.Create_Journal' | translate}}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="gred-color pull-right"><i class="fa fa-quote-left" aria-hidden="true"></i> {{'create.LET_OTHER_KNOW' | translate}}<br>{{'create.WHAT_THEY_HAVE_BEEN_MISSING' | translate}} <i class="fa fa-quote-right" aria-hidden="true"></i></h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- .........................................  tour plan details block ......................................................... -->
        <div class="main-content-margin mt-Bottom30">
            <!-- ..............  attraction search list ............................. -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="global-bgColor clearfix"  ng-submit="createJournal()" name="journalForm" novalidate>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{'create.Title' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'create.Journal_Title' | translate}}" name="title" ng-model="journal.title" tabindex="1" required ng-class="journalForm.title.$touched && journalForm.title.$error.required ? 'error' : ''">
                                    <span class="errormsg" ng-show="count && journalForm.title.$error.required">{{'create.name_is_required' | translate}}.</span>
                                </div>
                                <div class="form-group">
                                    <label>{{'create.About_Journal' | translate}}</label>
                                    <textarea class="form-control descriptionBox" placeholder="{{'create.Journal_Description' | translate}}" name="description" ng-model="journal.description" tabindex="2" required ng-class="journalForm.description.$touched && journalForm.description.$error.required ? 'error' : ''"></textarea>
                                    <span class="errormsg" ng-show="count && journalForm.description.$error.required">{{'create.description_is_required' | translate}}.</span>
                                </div>

                                <div class="form-group">
                                        <label>{{'create.Tags' | translate}} *:</label>
                                        
                                            <tags-input ng-model="journal.tags"  placeholder="{{'create.Add_A_Tag' | translate}}" display-property="name" min-length="3" min-tags="0" add-from-autocomplete-only="false" tabindex="3">
                                                <auto-complete source="getTags($query)" select-first-match="false" min-length="1"></auto-complete>
                                            </tags-input>
                                        
                                </div>
                                    <div class="form-group">
                                        <label>{{'create.Language' | translate}} *:</label>
                                        
                                            <select class="form-control" ng-model="journal.language_code" ng-change="language_change()" id="language" name='language' tabindex="4" required ng-class="journalForm.language.$touched && journalForm.language.$error.required ? 'error' : ''">
                                                <option value="">--{{'create.Select_Language' | translate}}--</option>
                                                <option ng-repeat="(key, value) in languages" value="{{key}}">{{value}}</option>
                                            </select>
                                        
                                    </div>                                

                                <div class="form-group">
                                        <label>{{'create.City' | translate}} *:</label>
                                        
                                            <select class="form-control" ng-model="journal.destinations" id="city" name='city' tabindex="5" ng-options="value.city for value in destinations track by value._id" required ng-class="journalForm.city.$touched && journalForm.city.$error.required ? 'error' : ''">
                                                <option value="">--{{'home.Select_City' | translate}}--</option>
                                            </select>
                                            <span class="errormsg" ng-show="count && journalForm.city.$error.required">{{'create.city_is_required' | translate}}.</span>
                                        
                                </div>

                            </div>
                            <div class="col-sm-6">


                                <div class="form-group">
                                        <label>{{'create.Itineraries' | translate}} :</label>
                                        
                                            <tags-input ng-model="journal.itinerary" placeholder="{{'create.Add_itineraries' | translate}}" key-property="_id" display-property="machine_name" min-length="3" max-tags="1" min-tags="0" add-from-autocomplete-only="true" tabindex="3">
                                                <auto-complete source="getItineraries($query)" select-first-match="false" min-length="1"></auto-complete>
                                            </tags-input>
                                        
                                </div>


                                    <div class="form-group">
                                        <label>{{'create.Journal_Image' | translate}} *:</label>
                                        <div class="form-whiteBox">
                                            <div class="btn btn-primary" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-select ng-model='temp_file' ngf-pattern="'image/*'" name="temp_file" required ng-class="journalForm.temp_file.$touched && journalForm.temp_file.$error.required || !journalForm.temp_file.$valid && submitted ? 'error' : ''" >{{'create.Browse_From_Drive' | translate}}</div>
                                            <span ng-if="temp_file.length > 1">{{temp_file.length}} files selected</span>
                                            <span ng-if="temp_file.length == 1">{{temp_file.length}} file selected</span>
                                        </div>
                                    </div>                                

                                <div class="text-center mt-top30"><img src="images/compass.jpg" alt="compass" /></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="">
                                    <div class="col-xs-12 red nopadding" ng-show="error">{{error}}</div>
                                    <input type="submit" class="btn btn-primary" value="{{'create.Create_Journal' | translate}}">
                                    <button class="btn btn-default" ng-click="cancel()">{{'profile.Cancel' | translate}}</button>
                                </div>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>  
        </div>

    </main>