<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Attractions
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Search Attraction</h3>
    </div>
    <div class="panel-body">
      
      <div class="col-xs-10">
      <form ng-submit="searchAttraction()" class="form-inline attractionsForm">
        <input type="text" ng-model="AttractionName" class="form-control" placeholder="Search by Name">

            <select   class="form-control" ng-model="filter.rating" autofocus ng-options="value for value in ratings">   <option value="">--Select Rating--</option>
        </select>

        <select   class="form-control" ng-model="filter.category" ng-options="value.title for value in categories track by value.name">
          <option value="">--Select Category--</option>
        </select>

        <select  class="form-control"  ng-model="filter.city" ng-options="value.city for value in destinations track by value._id">
          <option value="">--Select City--</option>
        </select>

        <select  class="form-control" ng-model="filter.type" autofocus>
          <option value="">--Select Type--</option>
          <option value="yolo">Yolo Attractions</option>
          <option value="yelp">Yelp Attractions</option>
        </select>


        <select  class="form-control" ng-model="filter.openclosetime" autofocus>
          <option value="">--Opening/Closing Time--</option>
          <option value="true">Exist</option>
          <option value="false">Not Exist</option>
        </select>

        <select  class="form-control" ng-model="filter.image_url" autofocus>
          <option value="">--Image--</option>
          <option value="true">Exist</option>
          <option value="false">Not Exist</option>
        </select>

        <select  class="form-control" ng-model="filter.published" autofocus>
          <option value="">Search By Published</option>
          <option value="true">Published</option>
          <option value="false">Unpublished</option>
        </select>

        <!-- <input type="text" ng-model="category" placeholder="Search by Category"> -->
        <div>
        <input type="submit" name="submit" value="Search" class="btn btn-sm btn-primary">
          <button type="button" class="btn btn-sm btn-primary" ng-click="disableFilter()">Reset</button>
          </div>
       </form>
      </div>
      <div class="col-xs-2">
        <a class="btn btn-info pull-right" ui-sref="admin.attractionsCreate">Create Attraction</a>
        
      </div>
    </div>
</div>

<div ui-grid="attractionsGrid" class="myGrid" external-scopes="clickHandler"></div>
<div class="text-right tm10">
  <div class="col-xs-3 col-xs-offset-6 tm5">
    <p>Current page: {{ currentpage}} of {{ getTotalPagesCount }}</p>
  </div>
  <div class="col-xs-3 ">
    <button type="button" class="btn btn-primary" ng-click="previousPage()">Previous page</button>
    <button type="button" class="btn btn-primary" ng-click="nextPage()">Next page</button>
  </div>
</div>