<div class="slider">
    <div class="slideOne"></div>
</div>

<main class="content-wrap">
<div class="container-custom">
    <div class="toCell cell-left">
        <h2>{{'login.Get' | translate}} <span>{{'login.away' | translate}}</span>{{'login.before_you_are_too_late' | translate}}</h2>
        <h4>{{'login.Lorem_Ipsum_is_simply_dummy_text_of_the' | translate}}.</h4>
    </div>
    <div class="toCell cell-right">
        <div class="form-wrap">
            <div class="form-head text-center">
                <div class="logo-form"><img src="images/logo-blue-gatawey.png" alt="getawey" /></div>
                <h4>{{'login.Welcome_to_travel_itinerary' | translate}}</h4>
            </div>
            <form role="form" ng-submit="login()" name="loginForm" novalidate>
                <div class="form-body">
                    <div class="form-group">
                        <input type="email" class="form-control {{errorClass}}" placeholder="{{'signup.Enter_Your_Email' | translate}}"   ng-model="user.email" name="email" required ng-class="loginForm.email.$touched ? loginForm.email.$error.required ? 'error' : loginForm.email.$error.email ? 'error': '' : ''" title="{{titles.email}}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control {{errorClass}}" placeholder="{{'signup.Enter_Your_Password' | translate}}" ng-model="user.password" name="password" required ng-class="loginForm.password.$touched && loginForm.password.$error.required ? 'error' : ''" title="{{titles.password}}">
                    </div>
                    <div class="or">{{'login.OR' | translate}}</div>
                    <button class="btn btn-facebook" type="button">
                        <span><a  href="/api/users/login/facebook"><img src="images/fb-lightl.png" alt="getawey" />  {{'login.Log_In_with_Facebook' | translate}}</a></span>
                    </button>
                </div>
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="checkbox">
                            <input type="checkbox" id="chkOne" />
                            <label for="chkOne">{{'login.Remember_Me' | translate}}</label>
                        </div>
                    </div>
                    <div class="pull-right"><a ui-sref="index.forgot" class="link-forget">{{'login.Forgot_your_password' | translate}}?</a></div>
                </div>
                <button type="submit" class="btn btn-default">{{'home.Login' | translate}}</button>
            </form>
        </div>
    </div>
</div>
</main>