<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
    <a ui-sref="admin.showcomments({'id': comments.journal})">Back to Comments</a>
        <h1 class="page-header">
            Edit Comments
        </h1>
    </div>
</div>

<form role="form" ng-submit="updateComments()" name="createForm" novalidate>

   
    <div class="form-group">
        <label for="last_name">Description :</label>
        <textarea rows="10" cols="70" class="form-control" ng-model="comments.description" placeholder="description" tabindex="3"></textarea>
    </div>    

    <div class="form-group">
        <label for="publish">Approve :</label>
        <input type="checkbox" name="publish" id="publish" ng-model="comments.publish" tabindex="12" ng-init="comments.publish = comments.publish || false" autofocus>
    </div>  

    <div class="error red" ng-show="error" >{{error}}</div>
    <button type="submit" class="btn btn-primary">Update comments</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</form>
